.fl{float:left}.fr{float:right}.p-a{position:absolute}.p-r{position:relative}.mod-pub-notes{overflow:hidden;width:226px;font-size:12px}.mod-pub-notes
.traveltip.fea1{margin-top:8px}.traveltip{display:block;color:#f80;font-family:microsoft yahei;margin-left:10px;overflow:hidden;height:17px;line-height:17px}.traveltip:hover
span{text-decoration:underline}.traveltip
.sprite{background:url(http://img4.tuniucdn.com/img/201505081023/blogs/travel-bg.png) no-repeat;width:16px;height:16px;margin-right:4px}.traveltip.fea{width:100px;height:30px;line-height:29px;border-radius:3px;background:#f80;color:#fff;font-size:14px}.traveltip.fea:hover
span{text-decoration:none}.traveltip.fea
.sprite01{width:17px;height:20px;background-position:0 -17px;margin-top:7px;margin-left:12px}.traveltip.fea1{margin-top:5px}.xubox_botton
a{background:#42b312;left:155px;border-radius:3px}.nav-bar
.traveltip{margin-top:7px}.topTit
.traveltip{margin-top:9px;margin-right:10px}.publish-bottom
.protocol{margin-top:8px}.publish-bottom .protocol
input{vertical-align:middle}.publish-bottom .draft-preview{float:left;margin-left:184px;position:inherit}.publish-bottom .draft-save{left:429px}.arrproto{text-align:center;width:401px;font-family:microsoft yahei;font-size:14px}.tnote-suggest{display:none;width:570px}.tnote-suggest
.hlist{padding-top:45px;position:relative}.tnote-suggest .hlist
.msg{bottom:-54px;left:203px;color:#f00;display:none}.mod-type
li{padding-left:35px;margin-bottom:20px;position:relative}.mod-type li
textarea{width:386px;padding:10px;height:70px}.mod-type li
span{margin-top:7px}.mod-type li span
i{color:#f00;font-family:microsoft yahei}.mod-type li
input{padding:10px;width:210px;height:14px;border:1px
solid #e6e6e6}.mod-type li
.typetips01{display:none;float:left;margin-top:9px;margin-left:9px;width:100px;padding-left:24px;height:16px;line-height:14px;background:url(http://img4.tuniucdn.com/img/201505081023/blogs/suggestbg.png) no-repeat}.mod-type li
.typetips{background-position:0 -18px}.mod-type
.msg{bottom:-10px;left:-20px}.mod-type
.simulate{left:128px;position:absolute;top:10px;width:384px;color:#999;word-wrap:break-word}.tnote-suggest
.typetips01.fea{margin-left:80px}.mod-type
ul{width:100%}.mod-type
span{float:left;width:80px;text-align:right;font-size:14px;font-family:microsoft yahei}.mod-type
input{float:left}.fixed{position:fixed;margin-top:-100px;left:50%;top:50%}.mod-connect{background:#3bc468;width:60px;height:82px;padding:2px;cursor:pointer}.mod-connect .hlist
.sprite{height:18px;margin:4px
auto 0;width:21px;background:url(http://img4.tuniucdn.com/img/201505081023/blogs/connect.png) no-repeat}.mod-connect
.hlist{border:1px
solid #6cdc8a;font-size:16px;font-family:microsoft yahei;padding:5px;color:#fff}.mod-connect .hlist
.item{padding:0
8px}.travel-right_part{margin-bottom:-4px}.blog-top .author-info .info-right{width:859px}.blog-top .author-info{position:relative}.blog-top .mod-pub-notes{position:absolute;right:3px;bottom:23px}.nav_right .travelnote_tab
a.publish{float:right}.nav_right .travelnote_tab
.traveltip{float:right;margin-top:9px}.wp{position:relative}.wp .traveltip span,
.wp .traveltip.fea,
.wp .traveltip.fea .sprite01,
.mod-pub-notes
.traveltip.fea1{*width:100px;_width:100px;border:none}.wp .mod-pub-notes{position:absolute;right:130px;top:14px}