strong{font-weight:bold !important}.publish-content .edui-container{margin:0
auto}.edui-container{text-align:left;box-shadow:none;border:none}.edui-container.box-focus{background:#fff !important;border:1px
solid #f90\9;*border:1px
solid #f90;box-shadow:0 0 5px #f90 !important}.edui-container .edui-toolbar{display:none;box-shadow:none;z-index:2}.edui-container .edui-editor-body{background-color:transparent}.edui-container .edui-editor-body .edui-body-container{padding:15px
20px;font:14px "microsoft yahei";color:#666}.edui-container .edui-editor-body .edui-body-container
p{margin:0}.edui-container
#initContent{color:#999}.edui-container
img{max-width:600px}.edui-scale{display:none !important}.show{display:block !important}.hide{display:none !important}