.order_area .order_save i,
.order_area .order_share i,
.user_pak .sp_1 i,
.user_pak .sp_2 i,
.d_box .db_tt i,
.d_box .db_cont
.db_1{background:url(/img/20150409/jifen/detail.png) no-repeat 0 0}.user_infor{background:url(/img/2015060115/jifen/mask_bg_2.png) no-repeat 0 0}.gy-gallery .gy-nav{border:none !important;width:405px !important;margin:30px
0 0 0}.gy-gallery .gy-nav{}.gy-gallery .gy-nav .gy-thumbs{margin:0
30px !important;width:346px !important}.gy-gallery .gy-back{left:0 !important}.cl_f60{color:#f60}.f_24{font-size:26px}.f_bold{font-weight:700}.f_14{font-size:14px}.f_yh{font-family:"microsoft yahei"}.mr15{margin:0
15px 0 0}.mt20{margin:20px
0 0 0}.wrap_box{width:1200px;margin:0
auto}.wrap_box .lef_box,
.wrap_box
.rig_box{float:left}.wrap_box
.lef_box{width:930px}.wrap_box
.rig_box{width:255px}.wrap_box
.wrap_w{width:945px}.detail_box{padding:30px
45px 30px 30px;background:#fff;border:1px
solid #ddd;border-right:none;height:352px}.detail_box dt,
.detail_box
dd{float:left}.detail_box
dt{width:405px}.detail_box
dd{width:415px;float:right}.detail_cont
.d_tt{font:normal 700 24px/36px  '黑体';color:#333;max-height:76px;_height:76px;overflow:hidden}.detail_cont
.sub_tt{font:normal 400 16px/24px 'microsoft yahei';color:#666;max-height:96px;_height:96px}.detail_cont
.dc_bg{background:#f4f4f4;padding:5px
20px 10px;margin:15px
0 0 0}.detail_cont .dc_bg span,
.detail_cont .dc_bg em,
.detail_cont .dc_bg
s{display:inline-block}.detail_cont .dc_bg
span{width:70px}.change_num{margin:20px
0 0 0}.change_num
p{float:left;height:24px;line-height:24px}.change_num
p.cn_1{margin:0
15px 0 20px}.change_num
p.cn_2{margin-left:15px}.num_add{border:1px
solid #ddd;width:80px}.num_add a,
.num_add
input{float:left;display:block;height:24px;line-height:24px;width:30px;border:none;text-align:center}.num_add
a{width:24px;font-size:14px}.num_add
a.plus{border-left:1px solid #ddd}.num_add
a.min{border-right:1px solid #ddd}.order_area{margin:20px
0 0 59px}.order_area .order_btn,
.order_area .order_save,
.order_area
.order_share{display:block;float:left;border-radius:1px}.order_area
.order_btn{height:40px;line-height:40px;width:130px;text-align:center;background:#f60;border:1px
solid #ff6901;color:#fff;font:normal 700 18px/27px "microsoft yahei";cursor:pointer}.order_area
.order_btn.nouse{background:#999;border:solid 1px #999}.order_area .order_save
i{background-position:0 -12px;display:block;width:12px;height:12px}.order_area .order_share
i{background-position:0 -66px;display:block;width:15px;height:13px}.order_area .order_save i,
.order_area .order_share i,
.order_area .order_share em,
.order_area .order_save
em{float:left}.order_area .order_save i,
.order_area .order_share
i{position:relative;top:2px;margin:0
3px 0 0}.order_area .order_save,
.order_area
.order_share{padding:10px
0 0px 20px;cursor:pointer}.inner_box{border:1px
solid #ddd;border-left:none}.user_infor{height:412px;position:relative}.user_infor
.ui_des{}.user_infor
.ui_des{padding:20px
0 0 0}.user_infor .ui_des dt,
.user_infor .ui_des
dd{text-align:center}.user_infor .ui_des
dd{margin:15px
0 0 0}.user_infor .ui_des
dt{margin:0px
0 0 67px;width:120px;height:120px;border-radius:50%;background:#fff}.user_infor .ui_des dt
img{width:110px;height:110px;border-radius:50%;margin:5px}.user_infor
.ui_level{margin-top:10px;color:#666;margin-bottom:5px}.user_infor
.ui_update{color:#666}.user_infor
.ui_login{margin-top:35px}.user_infor .ui_login
a{color:#f60}.user_infor
.ui_jifei{position:absolute;color:#999;top:340px;left:140px;width:100%;font:normal normal 12px/16px "microsoft yahei"}.user_infor .ui_jifei
p{font-weight:bold;font-size:18px;margin-top:5px}.user_infor .ui_jifei
.num{font-family:"Arial";color:#f60}.user_infor .ui_jifei
.unit{color:#f60}.user_pak{background:#fafafa;height:136px;padding:20px
0 0 15px}.user_pak
p{margin:0
0 10px 0px}.user_pak .sp_1,
.user_pak
.sp_2{position:relative;margin:0
15px 0 0}.user_pak .sp_1 i,
.user_pak .sp_2
i{display:block;position:absolute;height:36px;width:36px;left:7px;top:16px}.user_pak .sp_1
i{background-position:0 -81px}.user_pak .sp_2
i{background-position:0 -117px}.list_box{width:1200px;margin:0
auto;background:#fff;margin:20px
0 0 0}.l_innner_box{background:#fff;border:1px
solid #ddd}.lib_tt_box{height:45px;position:relative;z-index:50}.lib_tt{height:45px;line-height:45px;border-bottom:2px solid #dedede;background:#fafafa;width:928px}.lib_tt
.lib_name{border-bottom:2px solid #4db620;font:normal 700 16px/24px "microsoft yahei";color:#4db620;float:left;text-indent:10px;height:45px;line-height:45px}.lib_tt
.lib_fuc{width:60%;float:right;text-align:right}.lib_tt .lib_fuc
.go_ex{width:100px;height:30px;color:#fff;line-height:30px;border:none;text-align:center;background:#f80;font:normal 400 14px/21px "宋体";margin:0
20px 0 0;cursor:pointer;border-radius:1px}.lib_tt .lib_fuc
.go_ex.nouse{background:#999}.lib_tt .lib_fuc
.c_1{font-size:14px}.lib_tt .lib_fuc
.c_2{margin:0
15px;color:#666}.lib_cont{margin:0px
auto 20px;overflow:hidden;width:868px;padding-top:15px}.lib_cont
.lib_subtt{font:normal 700 20px/30px "Arial";margin:20px
0 10px 0}.lib_cont
img{display:block;width:800px;margin:auto}.lib_img dt,
.lib_img
dd{float:left;width:427px;height:488px;overflow:hidden}.lib_img
dd{float:right}.d_box{background-color:#fff}.d_box
.db_tt{padding:10px
0 0 17px;height:30px;font:normal 700 14px/21px "Arial";border-bottom:2px solid #eee}.d_box .db_tt
i{display:block;width:20px;height:20px;margin:0
5px 0 0}.d_box .db_tt
.c_love{background-position:0 -25px}.d_box .db_tt
.c_foot{background-position:0 -44px}.d_box .db_tt i ,
.d_box .db_tt
span{float:left}.d_box .db_cont
li{padding:10px
17px 15px;border-bottom:1px solid #eee}.d_box .db_cont li
.l_pic{width:220px;height:130px;display:block;overflow:hidden}.d_box .db_cont li .l_pic
img{width:220px}.d_box .db_cont
.l_name{line-height:20px}.d_box .db_cont .l_name a:hover{color:#f80}.d_box .db_cont
.l_ex{}.d_box .db_cont .l_ex
s{font-family:"microsoft yahei"}.d_box .db_cont .db_1,
.d_box .db_cont .db_2,
.d_box .db_cont
.db_3{float:left}.d_box .db_cont
.db_1{background-position:0 0;height:10px;width:10px;margin-right:10px;position:absolute;top:13px;left:-20px}.d_box .db_cont
.db_2{width:160px}.d_box .db_cont .db_2
a{display:block;height:40px;overflow:hidden}.d_box .db_cont .db_2 a:hover{color:#f80}.d_box .db_cont
.db_3{width:60px;height:60px;overflow:hidden}.d_box .db_cont .db_3
img{border:1px
solid #eee;padding:2px;width:60px}.d_box .your_foot
li{padding:10px
0px 10px 0;position:relative;left:0;border-top:solid 1px #eee;overflow:visible;width:225px;height:60px;margin:0
15px;top:-1px}.crumbs{margin:0px
0 10px;padding-top:10px}.crumbs
i{padding:0
10px;font-style:normal}.gy-gallery .gy-thumbs li a, .gy-gallery .gy-thumbs li a
img{width:80px}.gy-gallery .gy-thumbs li a.gy-active, .gy-gallery .gy-thumbs li a.gy-active
img{width:76px}.gy-gallery .gy-image-wrapper .gy-image
img{width:405px}