.jifen_wrapper{width:100%;background:#f0f2f5}.wrap_bady{width:100%;background:#f0f2f5;padding-bottom:20px}.cl_f60{color:#f60}.f_24{font-size:26px}.f_18{font-size:18px}.f_bold{font-weight:700}.jifen{overflow-x:hidden}.f_14{font-size:14px}.f_16{font-size:16px}.f_yh{font-family:"microsoft yahei"}.mr15{margin:0
15px 0 0}.mt20{margin:20px
0 0 0}.go_ex{width:100px;height:30px;color:#fff;line-height:30px;border:none;text-align:center;background:#f80;font:normal 400 14px/21px "宋体";margin:0
20px 0 0}.cl_999{color:#999}.m_lr{margin:0
5px}.mtop{margin-top:20px}a:hover,
a:hover strong,
a:hover
span{text-decoration:none;color:#f80}.offer_service{margin-top:0!important}.sb_lists{background:#fff;padding:0
0 20px 20px}.sb_lists .sb_list:hover{background-color:#d8d8d8}.sb_lists .sb_list
.sb_des{padding:10px
0;background-color:#FFF}.crumbs{position:relative;margin:10px
0px;z-index:1}.crumbs
a{color:#2e9700}.crumbs a:hover{color:#f60}.crumbs
i{margin:0
5px;font-style:normal}.sb_lists .sb_list
.sb_btn{position:relative}.sb_lists .sb_list .sb_btn
a{position:absolute;top:0;right:10px}