.d-b{display:block}.d-i{display:inline}.orange{color:#f80}.orange1{color:#f60}.green{color:#2e9900}.blue{color:#0006cc}.blue1{color:#13bace}.blue1{color:#13bace}.blue2{background-color:#639eda;color:#fff}.blue3{background-color:#79deea;color:#fff}.blue4{background-color:#63dacd;color:#fff}.indtag01{background-color:#639eda}.indtag02{background-color:#79deea}.indtag03{background-color:#63dacd}.indtag04{background-color:#fbbde4}.red1{background-color:#fbbde4;color:#fff}.gray{color:#666}.gray1{color:#999}.bg-light-bule{background-color:#5094dc;color:#fff}.bg-light-green{background-color:#37c249;color:#fff}.opacity6{background:rgba(0,0,0,0.6);background:#000\0;*background:#000;_background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);*color:#fff}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.ff-mic{font-family:'microsoft yahei'}.fb{font-weight:bold}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml15{margin-left:15px}.ml30{margin-left:30px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt20{margin-top:20px}.mt15{margin-top:15px}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.lh21{line-height:21px}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.fl{float:left}.fr{float:right}.p-a{position:absolute}.p-r{position:relative}.top_tip .hlist
a{position:relative;display:inline-block;margin-right:10px;padding:0
10px;text-align:center;font-size:18px}.top_tip .hlist a:hover{color:#30b38d}.top_tip
.active{padding:0
20px;background:#11ae84;color:#fff}.top_tip a.active:hover{color:#fff}.top_tip
.sprite{position:absolute;top:24px;left:50%;display:block;width:6px;height:7px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/trip-sprite.png) no-repeat;background-position:0 -69px;font-size:0}.mod-trip .h-list{float:left}.mod-trip .mod.h-list{width:806px}.mod-trip .mod.h-list
.item{margin-bottom:15px}.mod-trip .mod.h-list .tag
span{margin-right:2px}.mod-trip
.item{position:relative;float:left;margin-right:15px;padding:15px;width:358px;background-color:#fff;*z-index:-1;z-index:299}.mod-trip .item
img{width:100%;display:block}.mod-trip .item
.tip{height:40px}.tag
span{display:inline-block;*display:inline;zoom:1;margin-right:2px;height:16px;border-radius:3px;text-align:center;line-height:15px;overflow:hidden;padding:0
5px;color:#fff}.t-slider{overflow:hidden;width:790px;height:342px;position:relative;*position:relative}.t-slider .spe-ctrol{height:342px;_width:2500px}.mod-trip .switch
span{position:absolute;top:156px;display:block;width:36px;height:58px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/trip-sprite.png) no-repeat;text-indent:-9999px;cursor:pointer;z-index:288}.mod-trip
.switch{width:800px}.mod-trip .switch
.pre{left:-26px;background-position:0 0}.mod-trip .switch
.nex{right:-15px;background-position:-63px 0}.mod-titlea{margin-top:30px;padding-bottom:10px;border-bottom:1px solid #e6e7e4;color:#333;font-size:20px}.mod-trip-a
.item{margin-top:15px}.mod-trip-a .list-b{overflow:hidden}.mod-trip-a .spe-ctrol{width:806px}.mod-trip
.like{position:absolute;right:30px;bottom:15px;background:0}.like
a{padding-left:25px;height:20px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/indicons2.png) no-repeat;background-position:-101px -648px;color:#999}.like
a.liked{background-position:-2px -369px}.like a:hover{background-position:-2px -369px}.page-cur,.pagination a,.page-end{border:1px
solid #dedede}.pagination a:hover{background-color:#43b413;color:#fff}.page-cur{background-color:#43b413;color:#fff !important}#intour
p{_width:120px}#intour
.spirte{font-size:0}.mod-trip-a
.item{_height:315px;_overflow:hidden}.thcontent{overflow:hidden}.main{_display:inline}.lrcon{_display:inline}.col2-main{float:left;overflow:hidden;width:790px}.col2-side{float:right;width:188px}.list-col2{overflow:hidden;width:820px}.list-col2
.item{position:relative;float:left;overflow:hidden;margin-top:15px;margin-right:18px;width:386px;height:255px;background:#666}.infor{width:100%;position:absolute;bottom:0}.infor
.linear{position:relative;padding:10px
20px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/inforbg.png) no-repeat;color:#fff}.infor
a{color:#fff}.infor a:hover{color:#fff}.infor .linear
.like{position:relative}.infor .linear
.likeadd1{top:10px;right:-17px;color:#fff}.infor .linear
.likeadd01{top:-10px;right:-10px}.infor .linear
span{vertical-align:middle}.infor.opacity1{padding-top:30px}.linear.active{margin-top:10px;background:0}.infor
p{padding:0
20px;height:240px;height:0;color:#fff;line-height:23px}.col2-main .like a,a.spe-like{display:inline-block;padding-left:20px;height:20px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/zsp.png) no-repeat;background-position:0 2px;color:#fff;vertical-align:middle;-moz-transition:all .1s ease-in-out 0;transition:all .1s ease-in-out 0;*background-position:0 0;*display:inline}.mod-trip a.spe-like{background:url("http://img3.tuniucdn.com/img/20140505/indicator/indicons2.png") no-repeat scroll -92px -646px;color:#666;-webkit-transition:inherit;-o-transition:inherit;transition:inherit}.mod-trip a.spe-like:hover{background-position:8px -367px}.readers a.spe-like{position:relative;margin-bottom:2px;padding-left:10px;background-position:0 -15px;color:#404040;vertical-align:middle;font-size:12px;width:82px}.blog-control01 .readers
.likeadd1{top:-10px;width:60px}.col2-main .like a:hover{background-position:0 -15px;*background-position:0 -17px}.col2-main .infor
a.liked{background-position:0 -15px;*background-position:0 -17px}.block .c .download dt,.block .c .download
dd{float:left;display:inline}.block .c .download
dt{width:93px;height:130px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/top.png) no-repeat center center;background-position:0 2px}.block .c .download
dd{position:relative;position:relative;margin-left:3px;width:76px;height:127px}.block .c .download dd
em{display:inline-block;margin-top:10px;color:#999}.block .c .download dd
.downloadbtn{position:absolute;right:0;bottom:0;display:block;padding:5px
5px;background:#2e9900;color:#fff}.block .c .download dd .downloadbtn
i{display:inline-block;width:14px;height:14px;background:url(http://img1.tuniucdn.com/img/2014070710/list_v3/icon.png) 0 -244px no-repeat;vertical-align:-3px}.col2-side
div.block{border:1px
solid #dadada;border-top:2px solid #2e9900;padding-bottom:15px}.col2-side .block
h3{padding:8px
5px}.col2-side
.c{padding:7px}.col2-side .c
img{width:100%}.hot_line
li{position:relative;margin-bottom:15px;padding-bottom:10px;border-bottom:1px dotted #ddd}.hot_line
.pic{float:left;overflow:hidden;width:0;height:50px}.hot_line .pic
img{width:70px}.hot_line
.des{float:left;display:inline}.hot_line .des
.name{position:relative;top:-2px;overflow:hidden;height:36px;line-height:1.5;padding-right:6px}.hot_line .des
.price{color:#f60;font-family:"microsoft yahei"}.listtit
.share{display:inline-block;margin-left:20px;width:64px;height:27px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/zsp.png) no-repeat;background-position:-1px -52px;vertical-align:middle}.listtit{height:40px}.listtit .link-like,.listtit .link-comment{background:url(http://img3.tuniucdn.com/img/20140505/indicator/zsp.png) no-repeat;font-weight:normal;font-size:12px}.listtit .link-like{background-position:0 -16px}.listtit .link-comment{background-position:0 -34px}.listtit
.line{margin:0
20px;height:40px;background:#eaeaea}.line{display:inline-block;width:1px;vertical-align:middle}.screen{border:0}.screen-time{width:100px;height:30px;background:#000}.screen .screen-all
a{margin:0
5px;padding:0
10px;vertical-align:middle;font-size:12px}.screen .screen-all
a.active{background:#4aae00;color:#fff}.screen .screen-all a:hover{background:#4aae00;color:#fff}.screen
.line{height:12px;background:#666}.thcontent
.square{position:relative}.thcontent.fea
.square{background:#fff}.thcontent div.square:hover{box-shadow:0 0 10px #e3e3e3}.themebg
.sprite{position:absolute;top:6px;left:6px;font-size:0;width:56px;height:55px;background:url(http://img3.tuniucdn.com/img/201505035/indicator/theme-bg.png)}.themebg
.sprite1{background-position:-61px -53px}.themebg
.sprite2{background-position:-187px -54px}.themebg
.sprite3{background-position:-127px -53px}.repair-pag{width:auto;text-align:right}.repair-pag01.cj_pro_page{width:100%}.repair-pag.cj_pro_page{padding-right:14px;width:776px}.repait-pag02.cj_pro_page{width:790px}.pagination a:last-child{margin-right:0}.descontent .tag
span{padding:0
2px}.repair-listtit{width:790px}.listcon
.despic{margin-top:6px}.topbar{left:0;width:70px;background-position:0 -513px}.listcon .desdet
p{padding-right:5px;color:#999;line-height:23px}.titbar .name a:hover{color:#2e9900}.desdet
.link{position:relative;float:left;margin-top:8px;margin-right:10px;background:#65d57d;color:#fff;-moz-transition:all .3s ease-in-out 0;transition:all .3s ease-in-out 0}.desdet .link
a{display:block;padding:5px
20px;color:#fff}.desdet .active:before{position:absolute;right:0;bottom:0;display:block;width:0;border-color:#55c26d #fff #fff #55c26d;border-style:solid;border-width:4px 0 5px 8px;border-radius:4px 0 0;background:none repeat scroll 0 0 #55c26d;box-shadow:0 0 -1px #fff,-1px 1px 5px rgba(0,0,0,0.3);content:""}.screen-hotline{margin-bottom:20px}.nav-ind-list{position:relative;z-index:20;display:none;height:40px;border-bottom:2px solid #e2e5e0;box-shadow:0 0 1px #e2e5e0;font-size:14px;font-family:microsoft yahei;line-height:40px}.nav-ind-list
.item{padding:3px
10px}.nav-ind-list .item:hover{background:#11ae84;color:#fff}.ranklist{margin:0
auto;width:1000px}.ranklist
.line{margin:0
10px;width:1px;height:14px;background:#666}.ranklist .item:first-child{margin-left:400px}.listcon
.triangleo{background-position:0 -648px}.listcon:hover
.triangleo{background-position:0 -615px}.repair-listright{padding:0}.ranklist-ul li
a{display:block;padding-left:24px;height:33px;font-size:14px;font-family:microsoft yahei;line-height:33px}.ranklist-ul li a:hover{background:#2dc441;color:#fff}.ranklist-ul li a:hover
span{color:#fff}.ranklist-ul li
span{margin:0
10px 0 10px;color:#999;font-weight:bold;font-size:18px;font-family:'georgia'}.repair-top-tip{padding:0;background:0;border:none}.repair-top-tip .content-title{background:0}.likeadd1{position:absolute;top:-9px;right:-17px}.mod-select
div.hlist{position:relative;z-index:20;padding:3px
10px;border:1px
solid #e3e3e3;text-align:center;font-weight:normal;font-size:12px;cursor:pointer}.mod-select .hlist span:first-child{display:inline-block;text-align:left}.mod-select .w-ctrol{display:inline-block;width:70px}.mod-select
span.sprite{display:inline-block;background:url(http://img3.tuniucdn.com/img/20140505/indicator/select.png) no-repeat;vertical-align:middle;text-indent:-9999px}.mod-select .mod.hlist span:first-child{width:130px}.mod-select .mod.hlist
span.sprite{width:8px;height:5px}.screen-hotline.fea{margin-left:55px;border:1px
solid #e3e3e3;background:#fff;vertical-align:middle}.screen-hotline.fea
.hlist{border:0}.screen-hotline
.line{margin:5px
0 0 0;height:25px}.mod-select .mod1.hlist
.item{width:90px;height:30px;text-align:left;line-height:30px}.mod-select .mod1.hlist
.link{width:110px}.mod-select .mod1.hlist
b{font-size:20px}.mod-select .mod1.hlist
.sprite{position:inherit;margin-bottom:7px;width:16px;height:10px;background-position:2px -10px}.mod-select .mod1.hlist
.gray1{display:inline-block;margin-bottom:2px;margin-left:4px;color:#ddd;vertical-align:bottom}.mod-select
.link{position:absolute;top:36px;left:-1px;border:1px
solid #e3e3e3;background:#fff}.mod-select .link
ul{width:100%}.mod-select
.links{padding:3px
0}.mod-select
.links.foucs{background:#63cb33;color:#fff}.mod-trip{*position:relative;*z-index:0}.screen-hotline.fea1{margin-bottom:0;border:1px
solid #eaeaea;background:#fff}.screen-hotline.fea1
.hlist{border:0}.screen-hotline.fea1
.line{background:#e3e3e3}.ask-reply{margin-top:20px;padding:20px;border:1px
solid #eaeaea;background:#fff}.commentary{overflow:hidden;width:750px}.commentary
h2{margin-bottom:15px;color:#333;font-weight:500;font-size:22px;font-family:"microsoft yahei"}.commentary-co{margin-bottom:22px}.commentary-relay{padding-bottom:20px;border-bottom:1px solid #e3e3e3}.commentary-auth{float:left;padding-right:15px;width:64px;height:64px}.commentary-auth
img{width:64px;height:63px;border-radius:32px}.commentary-center{float:left;width:640px;font-family:"microsoft yahei"}.commentary-center .author-name
a{color:#690;font-size:14px}.commentary-center .author-name a:hover{color:#f60}.commentary-center p
em{color:#999;font-size:12px}.commentary-center p.author-op{font-size:14px;line-height:30px}.commentary-center p.commentary-txt{color:#333;font-size:14px;line-height:30px}.commentary-level{float:right}.commentary-level
span{display:inline-block;vertical-align:middle;font-size:30px}.author-opert{float:right}.author-opert
span{display:inline-block;width:22px;height:17px;background-position:-557px -108px;vertical-align:middle}.author-opert
a{color:#999}.author-opert a.author-operation:hover{color:#f60}.commentary .c-pages{padding-top:22px;width:810px;border-top:1px solid #e3e3e3}.commentary .pages-more{float:right}.commentary .pages-more
a{margin:0
0 0 20px;color:#999}.commentary .pages-more a:hover{color:#f60}.commentary .pages-more
a.cur{color:#690}.commentary-auth .author-name
a{color:#690;font-size:14px}.commentary-auth .author-name a:hover{color:#f60}.commentary-co .auth-pho{float:left;padding-right:20px;width:90px;height:107px}.auth-pho .author-name{width:74px;height:40px}.commentary-main{float:left;overflow:hidden;width:640px}.commentary-main
textarea{float:right;margin-bottom:17px;padding:10px;width:618px;height:145px;border:1px
solid #c6c4c4;color:#666;resize:none}.commentary-main
.submit{margin-right:333px;width:61px;height:26px;border:0
none;background-color:#f60;color:#fff;text-align:center;font-weight:bold;cursor:pointer}.commentary-main
span{display:inline-block;width:241px;color:#c6c4c4;text-align:right}.commentary-main span
i{font-style:normal}.commentary
ul{overflow:hidden;width:900px}.commentary ul
li{float:left;display:inline;margin-right:86px;margin-bottom:25px;width:364px;height:60px}.commentary li .author-pic-4{float:left;margin-right:9px;width:80px;height:60px}.test-info{float:left;width:274px;height:60px}.test-info
a{display:inline-block;width:274px;height:43px;color:#690;line-height:20px}.test-info a:hover{color:#f60}.pro_box
.main_tit{margin-bottom:10px;padding-top:25px}.pro_box
ul{width:810px}.pro_box
li{position:relative;float:left;overflow:hidden;margin-right:30px;width:240px;height:180px}.pro_box li
.cf_pic{display:block;overflow:hidden;margin-bottom:5px;height:135px}.pro_box li .cf_pic
img{width:240px}.pro_box
.cf_bg{position:absolute;top:105px;left:0;width:240px;height:30px;background:#000;opacity:0.7;filter:alpha(opacity=70)}.pro_box li
.cf_price{position:absolute;top:110px;left:0;padding:0
5px;width:230px}.pro_box li .cf_price
.price{float:left;color:#ff9600;font-size:14px}.pro_box li .cf_price .price
b{font-weight:bold;font-family:"Microsoft Yahei"}.pro_box li .cf_price
.num{float:right;color:#fff}.pro_box
.cf_des{overflow:hidden;width:240px;height:38px}.pro_box .cf_des
a{color:#333}.pro_box .cf_des a:hover{color:#ff9600}p.reason{padding-top:3px;color:#444}p.reason
span{font-weight:bold}.lrcon a:hover{color:#f80}.lrcon{float:left;width:188px;height:auto}.lrcon a:hover{color:#f80}.listright{margin-bottom:15px;padding:10px;width:168px;height:auto;border-top:3px solid #2e9900;border-right:1px solid #dadada;border-bottom:1px solid #dadada;border-left:1px solid #dadada;background:#fdfcf7}.listright
.tit{margin-bottom:5px;color:#434343;font-weight:bold;font-size:16px;font-family:'microsoft yahei'}.listright .tit
a{float:right;color:#2e9900;font-weight:normal;font-size:12px;font-family:'Simsun';line-height:25px}.listright .tit
span{color:#f60}.lrcon
.square{height:130px}#rcon{width:168px}#rtags{width:168px;height:30px}#rtags
ul{padding-bottom:10px}#rtags
li{float:left;width:50px;height:20px}#rtags li
a{display:block;width:50px;height:20px;text-align:center;color:#333;line-height:20px;text-decoration:none}#rtags
li.selectTag{height:20px}#rtags li.selectTag
a{background:#42b312;COLOR:#fff}.rtagContent{display:none;width:168px;height:auto}#rtagContent
div.selectTag{display:block}.rbox{margin-bottom:15px;height:auto;position:relative}.rbox
.rpic{position:relative;float:left;height:auto;width:20px;overflow:hidden;min-height:20px;height:20px;margin-right:5px}.rbox.active
.rpic{width:70px;height:50px}.rbox.active
.rdeta{width:93px}.rbox .rpic
img{}.rbox .rpic
a{width:auto;height:auto;display:block}.one{width:20px;height:20px;background:#f90;color:#fff;text-align:center;font-weight:bold;line-height:20px}.two{width:18px;height:18px;border:1px
solid #f90;background:#fff2df;color:#f90;text-align:center;font-weight:bold;line-height:18px}.pabs{position:absolute;top:0;left:0}.mr8{margin-right:8px}.rbox
.span14{font-size:14px}.rbox
.rdeta{height:auto;line-height:17px;width:140px;position:relative}.rbox .rdeta
.span1{color:#333;font-weight:bold;font-size:14px}.rbox .rdeta
.span2{color:#999;font-size:12px;font-family:microsoft yahei;display:none}.rpaihang{margin-top:0;position:absolute;top:0;right:0}.pop_box{position:fixed;top:50%;left:50%;z-index:1001;margin-top:-200px;margin-left:-335px;padding:35px;width:600px;height:330px;border:1px
solid #ccc;background:#fff;box-shadow:0 0 3px 0 #CCC;color:#666;font-size:14px;_position:absolute}.pop_box
.close{position:absolute;top:-10px;right:-10px;display:inline-block;overflow:hidden;width:38px;height:38px;background:url("http://img1.tuniucdn.com/img/20140416/travels/icon_single_note_24.png") no-repeat;background-position:0 0;_background:url("http://img1.tuniucdn.com/img/20140416/travels/icon_single_note.png") no-repeat}.pop_box
h3{margin-bottom:10px;font-size:16px;font-family:"Microsoft Yahei"}.comment_box{overflow:hidden;margin-bottom:10px;padding:10px
15px;height:200px;border:1px
solid #bbb}.comment_box
p{font-size:14px}.comment_box
.w_comment{margin-top:10px;width:583px;height:179px;border:0
none;resuze:none}.pop_box
.msg{margin-bottom:10px;text-align:right}.pop_box .msg
.limitNum{font-weight:bold}.comment_btn{text-align:right}.comment_btn
input{display:inline-block;width:72px;height:27px;border:0
none;text-align:center;line-height:27px;cursor:pointer}.comment_cancle{margin-right:25px;background:#ccc;color:#000}.comment_suc{background:#f60;color:#fff}.pop_report{padding:35px
50px;width:570px}.pop_report
h3{margin-bottom:20px}.des_box{margin-bottom:20px}.des_box
label{display:block;margin-bottom:5px;font-size:14px}.des_box label
input{margin-right:5px}.pop_report
.des_comment{margin:5px
0 10px;width:570px;height:95px;border:1px
solid #bbb;resize:none}.reply_box
.w_comment{height:200px}#dialog-overlay{position:absolute;top:0;left:0;z-index:1000;display:none;width:100%;height:100%;background:#000;opacity: .5;filter:alpha(opacity=50);-moz-opacity: .5;-khtml-opacity: .5}.hide{display:none}.listtit{position:relative;font-weight:normal;font-size:12px}.listtit
.fl{font-weight:bold;font-size:20px}.listtit .fl
h6{display:inline-block;padding-left:10px;font-size:13px;color:#999}.link_share_new{position:absolute;top:18px;left:129px;width:69px}.blog-control01 .readers
span{display:inline-block;width:17px;height:16px;vertical-align:top}.blog-control01
.link_like{margin-right:10px}.blog-control01 .readers
.share{background-position:-507px -35px}.content-title-left li.on
a.area{background:0;color:#2c893a}.readers.detail
.share{width:17px}.thcontent .square
.like{background:0}#scroll-box{position:relative;float:right;width:14px;height:314px;border:1px
solid #eaeaea;background:#f7f7f7}#bar{position:absolute;top:0;left:3px;width:8px;height:100px;border-radius:40px;background:#d2d2d2}#scroll-wrap{position:relative;float:left;overflow:hidden;width:94px;height:314px;word-break:break-all}#scroll-content{position:absolute;top:0;left:0;width:100%}.pagination{clear:both;margin:15px
auto;width:100%;height:40px;color:#404040;font-weight:400;font-size:12px}.page-bottom{float:right;margin-right:0}.pagination a,.page-prev,.page-cur,.page-start,.page-end,.page-break,.page-skip{float:left;margin:0
3px;color:#404040}.pagination a,.page-prev,.page-start,.page-cur,.page-end,.page-skip{padding:6px
10px 0;height:22px;line-height:16px}.page-start{width:auto}.page-cur,.pagination a,.page-end{border:1px
solid #dedede}.pagination
a{text-decoration:none !important}.page-start,.pagination .page-prev{border:1px
solid #c7e7ab}.page-break{padding:0
4px}.icon{display:inline-block;overflow:hidden}.pagination
.icon{width:9px;height:10px;background:url(http://img1.tuniucdn.com/img/20130619/common/o_20x500.png) no-repeat}.page-start
.icon{margin-right:3px;background-position:-8px -228px}.page-prev
.icon{margin-right:3px;background-position:-8px -228px}.page-next
.icon{margin-left:3px;background-position:-8px -288px}.page-end
.icon{margin-left:3px;background-position:-8px -288px}.page-start,.page-end{border-color:#ddd;color:#ddd;cursor:default}.page-start
.icon{background:url(http://img1.tuniucdn.com/img/20150211/common/page-arrow.png) 0 0 no-repeat}.page-end
.icon{background:url(http://img1.tuniucdn.com/img/20150211/common/page-arrow.png) 0 -15px no-repeat}#share_v1.mod-share{width:260px;height:77px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/share_v1.png) no-repeat}#share_v1.mod-share a:last-child{margin-right:0}#share_v1.mod-share
a{float:left;margin-right:20px;width:35px;height:74px;cursor:pointer}#share_v1.mod-share
span{background:none;font-size:0}#share_v1.mod-share
#ckepop{margin:0
auto;width:200px}.trigger{position:absolute;top:0;right:0}.share-trigger{position:relative;z-index:20}.share-trigger #share_v1.mod-share{position:absolute;z-index:40;display:none}.content-title{position:relative;padding:13px
15px;height:29px;background-color:#ececec}.content
.totle{display:inline-block;margin-right:10px;width:76px;height:30px;background-color:#58b711;color:#fff;text-align:center;font-size:16px;line-height:30px}.content-title-left
li{font-family:microsoft yahei;float:left}.content-title-left{float:left;width:760px}.content-title-left
a.area{display:block;overflow:hidden;padding:2px
0px 5px 5px;width:90px;color:#333;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:16px}.content-title-left a.area
i{font-style:normal}.content-title-left li.on
a.area{background:#fff;color:#f90}.content-title-left .unfold-city{display:inline-block;overflow:hidden;margin-left:4px;width:9px;height:7px;background-position:-431px -116px;vertical-align:middle}.content-title-left
.sub_item{position:absolute;top:44px;left:0;z-index:10;display:none;padding:25px
0 15px 35px;width:963px;border:1px
solid #e4e4e4;border-top:0 none;background:#fff;box-shadow:0 3px 5px 0 #CCC}.content-title-left li.on
.sub_item{display:block}.content-title-left .sub_ul
li{float:left;display:inline;margin:0
15px 15px 0px;width:135px;font-size:14px}.content-title-left .sub_ul li
a{color:#666;cursor:pointer}.content-title-left a.area, .content-title-left a.area
i{color:#999;font-size:14px}.content-title-left .sub_ul li a.high_light, .content-title-left .sub_ul li a:hover{color:#ff3f00}.content-title-left .sub_ul li
span{margin-left:10px;color:#bababa}.content-title-right{float:left;width:210px}.content-title-right
em{font-size:14px}.content-title-right .write-note,
.content-title-right .my-note{display:inline-block;padding:5px
10px;width:80px;height:20px;border-radius:3px;line-height:18px}.content-title-right .write-note{background-color:#f80;color:#fff;vertical-align:top}.content-title-right .my-note{color:#319a00}.content-title-right .write-note
span{display:inline-block;width:18px;height:17px;background-position:-769px -81px;vertical-align:top}.content-title-right .my-note
span{display:inline-block;width:20px;height:20px;background-position:-770px -105px;vertical-align:top}.cities{position:absolute;z-index:999;width:432px;padding:5px
10px 14px;border:1px
solid #ddd;background:#fff}.cities_tit{height:20px;line-height:20px;color:#999}.cities_cat{height:30px;border-bottom:1px solid #ddd;margin-right:-2px}.cities_list_cat.hide{display:none}.cities_cat
li{position:relative;top:1px;float:left;width:68px;height:22px;margin-top:6px;margin-right:2px;border:1px
solid #ddd;cursor:pointer;text-align:center;line-height:22px}.cities_cat
.pkg_city_cat_long{width:72px}.cities_cat
.last{margin-right:0}.cities_cat
li.current{border-top-color:#2e9700;border-bottom-color:#fff}.cities_list
li{float:left;width:60px;height:24px;padding:0
0 0 11px;line-height:24px;color:#666}.cities_list #scroll-wrap{width:415px}.pcities_list a:hover{color:#2e9700}.cities
.layer{display:none;position:absolute;left:0;top:0;z-index:9999;width:100%;height:100%}.cities
.mask{position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background:#000;opacity:0.3;filter:alpha(opacity = 30)}.citySplit{padding-left:5px;background:#eee;color:#555;margin:5px
0;display:block;font-weight:bold}.mod-select .qa-city{width:100px;padding:5px
10px;color:#666;border:1px
solid #dedede;position:relative}.mod-select
#quCity{position:relative}.mod-select #quCity
.sprite{position:absolute;width:20px;height:9px;right:0;top:10px;background-position:-7px 4px}.t-slider
.ind_imgbox{overflow:hidden;height:192px;overflow:hidden}.ind_imgbox{width:100%}.note-wrap{width:100%;height:auto;background:#f4f7f1;padding-bottom:50px}.note-index
.galleryblock{margin-top:0}.indexicon{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/indexicon.png) no-repeat}.note-index{width:1000px;height:auto;margin:0
auto}.notes-title{width:100%;height:40px;line-height:40px;text-align:left}.pstyle .notes-title{margin-top:20px;margin-bottom:5px}.notes-title
h1{font-family:"microsoft yahei";color:#434343;font-size:24px;font-weight:normal;width:auto;float:left}.note-title{width:100%;height:60px;line-height:40px;text-align:left;margin-top:20px;margin-bottom:5px;position:relative;z-index:1}.note-title
h1{font-family:"microsoft yahei";color:#434343;font-size:24px;font-weight:normal;width:auto}.subheading{color:#666;font-size:12px;height:28px;line-height:18px;font-family:"microsoft yahei"}.more-dis{width:68px;height:21px;line-height:21px;color:#666;font-size:12px;position:absolute;right:0;top:20px;font-family:"microsoft yahei";text-align:center;background-position:-2px -437px}.note-title a:hover{color:#63c257;background-position:-2px -467px;text-decoration:none}.pwhat{width:auto;height:300px;margin:0
auto;overflow:hidden;position:relative;z-index:1}.pwhat-bg{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/whatbg.png) 0 0 no-repeat;position:absolute;z-index:2;top:95px;left:0;width:1000px;height:92px}.pwhat .slide-card{width:200px;height:260px;float:left;overflow:hidden;position:relative}.pwhat .pwhat-detail{width:100%;height:70px;position:absolute;top:105px;text-align:center;left:0;z-index:3;cursor:pointer}.pwhat .pwhat-title{width:100%;height:35px;line-height:35px;text-align:center;font-size:18px;color:#333;font-family:"Microsoft Yahei"}.pwhat .pwhat-text{width:100%;height:40px;line-height:20px;text-align:center;font-size:12px;color:#333;word-break:break-all;overflow:hidden;font-family:"Microsoft Yahei"}.pwhat .center-card{width:400px;height:260px;float:left;overflow:hidden;position:relative}.slide-card img,.center-card
img{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);transition:all 0.8s;-moz-transition:all 0.8s;-webkit-transition:all 0.8s}.slide-card:hover img,.center-card:hover
img{transform:scale(1.5);-moz-transform:scale(1.5);-webkit-transform:scale(1.5);transition:all 0.8s;-moz-transition:all 0.8s;-webkit-transition:all 0.8s}.slide-card a:hover,.center-card a:hover{text-decoration:none}.pstyle{width:100%;height:auto;margin:0
auto;position:relative;z-index:1}.style-line{width:100%;height:337px;margin-bottom:20px}.content
.block{background:none;border:0
none;padding:0}.wall-photo{width:200px;height:337px;float:left;position:relative;z-index:1}.wall-one{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/wall1.jpg) 0 0 no-repeat}.wall-two{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/wall2.jpg) 0 0 no-repeat}.wall-three{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/wall3.jpg) 0 0 no-repeat}.wall-four{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/wall4.jpg) 0 0 no-repeat}.wall-five{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/wall5.jpg) 0 0 no-repeat}.wall-six{background:url(http://img3.tuniucdn.com/img/201506091800/indicator/wall6.jpg) 0 0 no-repeat}.wall-photo .wall-name{position:absolute;top:134px;left:52px;z-index:2;color:#767600;font-size:18px;width:97px;height:28px;line-height:28px;overflow:hidden;text-align:center;word-break:break-all;font-family:"microsoft yahei"}.wall-photo .wall-reason{position:absolute;top:194px;left:29px;z-index:2;color:#fff;font-size:12px;width:165px;height:63px;line-height:21px;font-family:"microsoft yahei";overflow:hidden}.wall-photo .wall-intro{position:absolute;top:282px;left:15px;z-index:2;font-size:12px;width:180px;height:40px;line-height:20px;font-family:"microsoft yahei";overflow:hidden;word-break:break-all}.wall-photo .intro-one{color:#e5c7fb}.wall-photo .intro-two{color:#d0ddff}.wall-photo .intro-three{color:#fef6e5}.wall-photo .intro-four{color:#fddaca}.wall-photo .intro-five{color:#cdfff4}.wall-photo .intro-six{color:#cae8f7}.product-one{width:795px;height:304px;float:left;background:#fff;margin-top:17px;padding-left:5px;padding-top:17px}.product-one .product-list{width:250px;height:140px;float:left;margin-left:10px;margin-bottom:10px;position:relative;z-index:1;overflow:hidden}.product-list
a{cursor:pointer}.product-list a:hover{cursor:pointer;text-decoration:none}.product-title{width:auto;height:30px;line-height:30px;text-align:left;overflow:hidden;position:absolute;bottom:0;left:0;z-index:5;padding-left:10px;word-break:break-all}.product-title
a{color:#fefefe;font-family:"microsoft yahei";font-size:14px}.product-title a:hover{text-decoration:none}.product-title-bg{background:#0c0504;opacity:0.5;filter:alpha(opacity=50);position:absolute;bottom:0;left:0;z-index:2;width:100%;height:30px;display:block}.product-icon{width:54px;height:38px;line-height:26px;color:#fff;position:absolute;right:0;top:0;z-index:2;font-size:12px;text-align:center;background-position:0 0}.product-bg{width:100%;height:0;position:absolute;bottom:0;left:0;z-index:4;background:#0c0504;opacity:0.5;filter:alpha(opacity=50)}.product-more{width:78px;height:31px;color:#fff;font-size:18px;font-family:"microsoft yahei";position:absolute;top:20px;left:89px;text-align:center;z-index:5;padding-top:65px;background-position:-125px -70px}.product-more-hover{background-position:1px -176px}.mouth-page{width:808px;height:35px;float:right;font-size:0;text-align:right}.mouth-page .mouth-hover{border:1px
solid #63c257}.mouth-no{display:inline-block;*display:inline;*zoom:1;width:48px;height:21px;line-height:21px;color:#666;font-size:14px;text-align:center;border:1px
solid #eee;margin-left:10px;background-color:#fff}.mouth-select{height:26px;line-height:22px;color:#fff;background-color:#f4f7f1;border:0
none;background-position:-150px -258px}.mouth-page a:hover{text-decoration:none}.mouth-list{width:1100px;height:216px;margin-left:-10px}.mouth-card{width:192px;height:216px;float:left;margin-left:10px;position:relative;z-index:1;overflow:hidden}.mouth-card a:hover{text-decoration:none}.mouth-card
img{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);transition:all 0.8s;-moz-transition:all 0.8s;-webkit-transition:all 0.8s}.mouth-card:hover
img{transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);transition:all 0.8s;-moz-transition:all 0.8s;-webkit-transition:all 0.8s}.mouth-bag{width:100%;height:80px;color:#fff;font-family:"microsoft yahei";font-size:30px;position:absolute;bottom:0;left:0;z-index:5;text-align:center;line-height:40px;display:block;background-position:-89px -441px}.mouth-show{width:100%;height:100%}.mouth-bg{width:100%;height:80px;background:#000;opacity:0.5;filter:alpha(opacity=50);position:absolute;bottom:0;left:0;z-index:3;display:block}.mouth-detail{width:145px;height:100px;color:#fff;font-size:12px;line-height:15px;padding:30px
20px 20px;display:none;font-family:"microsoft yahei";background:url(http://img3.tuniucdn.com/img/201506091800/indicator/indexline.png) 8px 0 no-repeat}.pstyle .t-slider{width:800px;background:#fff}.pstyle .mod-trip
.item{margin:15px
0 0 15px;padding:0;width:380px}.pstyle .mod-trip .item
.title{height:20px;line-height:20px;overflow:hidden;width:100%;font-size:18px;color:#333;font-family:"microsoft yahei";display:block}.pstyle .mod-trip .item
.tip{height:40px;line-height:20px;overflow:hidden;width:100%;font-size:14px;color:#666;display:block;font-family:"microsoft yahei"}.pstyle .mod-trip .item
.tag{font-size:12px}.phide{display:none}.none{display:none}#floatnav .floatnav-sublist-item
.floatnavlink{color:#999}.content{padding-bottom:0}.floatnav-list-item
.floatnavlink{border-left:2px solid #59b713}.floatnav-sublist-item
.floatnavlink{border-left:0 none}#floatnav .floatnav-list-totopitem
a{border-left:2px solid #59b713}.col2-side
img{width:100%}.block .repair-c .download dt,.block .repair-c .download
dd{float:left;display:inline}.block .repair-c
ul{margin-top:0;padding:0}.block .repair-c
.download{padding:0
5px 0 5px}.block .repair-c .download
dt{width:93px;height:130px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/top.png) no-repeat center center;background-position:0 2px;padding:0;border:none;box-shadow:none}.block .repair-c .download dt
img{width:100%}.block .repair-c .download
dd{position:relative;position:relative;margin-left:3px;width:76px;height:127px}.block .repair-c .download dd
em{display:inline-block;margin-top:10px;color:#999}.block .repair-c .download dd
.downloadbtn{position:absolute;right:0;bottom:0;display:block;padding:5px
5px;background:#2e9900;color:#fff}.block .repair-c .download dd .downloadbtn
i{display:inline-block;width:14px;height:14px;background:url(http://img1.tuniucdn.com/img/2014070710/list_v3/icon.png) 0 -244px no-repeat;vertical-align:-3px}.repair-c ul
li{float:none;width:auto;margin:10px
0 0 10px}.warning{font-size:14px;color:#999;padding:10px
0px 10px 0px}.galleryblock{line-height:1;margin-top:20px}.galleryblock
.top{height:30px}.galleryblock .top
.productname{font:bold 16px/30px 'Microsoft Yahei';margin-left:10px}.galleryblock .top
.moredetail{margin-left:10px;font:12px/30px 'Microsoft Yahei'}.galleryblock .top .moredetail
a{color:#333}.galleryblock .top
.switchbtn{font:12px/30px sans-serif;margin-right:10px;cursor:pointer;color:#666;background:url(/img/2015040113/list_v3/icon.png) no-repeat;background-position:0 -785px;height:30px;overflow:hidden;padding-left:20px}.galleryblock .top
.switchbtn.disabled{cursor:default;color:#aaa}.galleryblock.ticket .top .productname,
.galleryblock.ticket .top .moredetail
.num{color:#fd9330}.galleryblock.hotel .top .productname,
.galleryblock.hotel .top .moredetail
.num{color:#38c249}.galleryblock.scenicspot .top .productname,
.galleryblock.scenicspot .top .moredetail
.num{color:#35adf4}.gallery{padding:20px
19px;height:195px}.scenicspot
.gallery{height:175px}.galleryblock.ticket
.gallery{background-color:rgb(255,248,239);border:1px
solid rgb(246,231,219);border-top:2px solid rgb(245,200,163)}.galleryblock.hotel
.gallery{background-color:rgb(246,255,246);border:1px
solid rgb(228,244,226);border-top:2px solid rgb(166,222,171)}.galleryblock.scenicspot
.gallery{background-color:rgb(233,246,253);border:1px
solid rgb(221,243,251);border-top:2px solid rgb(139,213,253)}.gallery-lists{position:relative}.gallery-list{position:absolute;opacity:0;-webkit-transition:opacity 200ms ease;-moz-transition:opacity 200ms ease;-ms-transition:opacity 200ms ease;-o-transition:opacity 200ms ease;transition:opacity 200ms ease}.ie6-8 .gallery-list{filter:alpha(opacity=0)}.gallery-list.current{opacity:1}.ie6-8 .gallery-list.current{filter:alpha(opacity=100)}.gallery-list-item{margin-left:13px;width:180px;-webkit-box-shadow:0px 0px 5px #ddd;-moz-box-shadow:0px 0px 5px #ddd;-ms-box-shadow:0px 0px 5px #ddd;-o-box-shadow:0px 0px 5px #ddd;box-shadow:0px 0px 5px #ddd;cursor:pointer}.gallery-list-item.first{margin-left:0}.gallery-list-item
.imgblock{position:relative;height:100px}.gallery-list-item .imgblock
img{width:100%;height:100%;-webkit-user-select:none;-webkit-user-drag:none}.gallery-list-item .imgblock
.tile{position:absolute;left:0;bottom:0;color:#fff;font:12px/25px sans-serif}.galleryblock.ticket .gallery-list-item .imgblock
.tile{width:75px;background-color:rgb(253,147,48);text-align:center}.galleryblock.hotel .gallery-list-item .imgblock
.tile{width:50px;background-color:rgb(56,194,73);font-family:'Microsoft Yahei';text-align:center}.galleryblock.scenicspot .gallery-list-item .imgblock
.tile{width:100%}.galleryblock.scenicspot .gallery-list-item .imgblock .tile
.mask{position:absolute;width:100%;height:100%;background-color:#000;opacity:.5;filter:alpha(opacity=50)}.galleryblock.scenicspot .gallery-list-item .imgblock .tile
.box{position:relative;z-index:2}.galleryblock.scenicspot .gallery-list-item .imgblock .tile .box
.textblock1{margin-left:13px;color:#fff}.galleryblock.scenicspot .gallery-list-item .imgblock .tile .box .textblock2,
.galleryblock.scenicspot .gallery-list-item .imgblock .tile .box
.textblock3{margin-left:7px;color:#fff}.gallery-list-item
.block{height:60px;background-color:#fff;padding:10px
10px 0px 10px}.gallery-list-item .block
.productname{font:14px/100% 'Microsoft Yahei';max-height:28px;+max-height:29px;max-height:29.5px\0;overflow:hidden}.gallery-list-item .block
.box{margin-top:10px}.gallery-list-item .block .box
.price{color:#f60;margin-top:-3px}.gallery-list-item .block .box .price
.unit{font-family:arial}.gallery-list-item .block .box .price
.num{font:20px/20px 'Microsoft Yahei';margin-left:3px;margin-right:5px}.gallery-list-item .block .box
.satisfactionrate{color:#999;margin-top:4px}.scenicspot .gallery-list-item
.block{height:40px}.galleryblock.travelNotes
.gallery{border:1px
solid #eaeaea;border-top:2px solid rgb(179,179,179);background:#fff;height:auto;padding-top:0;padding-bottom:0}.galleryblock.travelNotes .top .moredetail
.num{color:#38c249}.travelNotes .gallery-lists{border-bottom:1px solid #f3f3f3;padding-bottom:25px;margin-top:17px}.travelNotes_tit{margin:0px
0 15px;font-family:"microsoft yahei"}.travelNotes_tit
.name{float:left;margin-right:50px;font-size:14px;color:#2e9700}.travelNotes_tit
.author{float:left;font-size:12px;color:#fc6621;margin-right:15px}.travelNotes_tit
.num{color:#666}.travelNotes
.jianjie{position:relative;background:#f2f2f2;padding:10px;line-height:20px;color:#666;margin-bottom:5px}.travelNotes .poptip-arrow{font-family:simsun;font-size:12px;font-style:normal;height:10px;left:60px;margin-left:-5px;overflow:hidden;position:absolute;top:-10px;width:16px}.travelNotes .poptip-arrow em, .travelNotes .poptip-arrow
i{font-style:normal;left:0;position:absolute}.travelNotes .poptip-arrow
em{color:#f2f2f2;top:-1px}.travelNotes .poptip-arrow
i{color:#f2f2f2;text-shadow:none;top:0}.travelNotes
.picLists{}.travelNotes .picLists
li{float:left;width:75px;height:75px;overflow:hidden;margin-right:6px}.travelNotes .picLists li
a{display:block;width:75px;height:75px;overflow:hidden}.travelNotes .picLists li a
img{height:75px}.ibk{display:inline-block;_display:inline;_zoom:1}.floatnavhidden{visibility:hidden;width:0}#floatnav{position:fixed;z-index:1000;background:#fff;_display:none;font-size:0}#floatnav .floatnav-list{-webkit-box-shadow:0 0 5px #ddd;-moz-box-shadow:0 0 5px #ddd;-ms-box-shadow:0 0 5px #ddd;-o-box-shadow:0 0 5px #ddd;box-shadow:0 0 5px #ddd;max-width:200px}#floatnav .floatnav-list-item{width:115px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}#floatnav .floatnav-list-item .floatnavlink, #floatnav .floatnav-sublist-item .floatnavlink, #floatnav .floatnav-list-totopitem
a{display:block;+width: 100%;text-align:left;color:#666;font:bold 14px/34px 'microsoft yahei';padding:0
10px 0 15px;overflow:hidden;text-decoration:none;text-overflow:ellipsis}#floatnav .floatnav-sublist-item
.floatnavlink{height:34px;padding-right:10px;font-size:12px}#floatnav .floatnav-list-item
.floatnavlink.longtitle{}#floatnav .floatnav-list-totopitem
a{text-align:center;padding-right:0;padding-left:0;padding:0}#floatnav .floatnav-list-item a:hover, #floatnav .floatnav-list-item a.highlight, #floatnav .floatnav-list-totopitem a:hover{background-color:rgb(56, 194, 73);color:#fff}#floatnav .floatnav-list-totopitem
.floatnavicon{background:url(http://img.tuniucdn.com/img/20141104/destination/side-nav-index.png) 0 0 no-repeat;width:10px;height:10px;margin-right:5px}#floatnav .floatnav-sublist{background:#f2f5f7}#floatnav .floatnav-sublist-item
a{color:#999;font-size:12px}#floatnav .floatnav-sublist-item a:hover{color:#fff}#floatnav .floatnav-toexpandbtn{width:39px;height:40px;background:url(http://img.tuniucdn.com/img/20141104/destination/side-nav.png) 0 0 no-repeat;cursor:pointer;position:absolute;top:50%;margin-top:-20px}.mCustomScrollBox{max-height:340px}.mCSB_inside
.mCSB_container{margin-right:5px}.mCSB_inside
.mCSB_scrollTools{width:4px}.mCS-dark.mCSB_scrollTools .mCSB_dragger
.mCSB_dragger_bar{background-color:rgb(180, 180, 180)}.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover
.mCSB_dragger_bar{background-color:rgb(150, 150, 150)}.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger:active
.mCSB_dragger_bar{background-color:rgb(120, 120, 120)}