.search_wrapper{width:1000px;margin-bottom:20px;background-color:#fff}body.index1200
.search_wrapper{width:1000px}.search_wrapper
.filter_innerbox{border:1px
solid #e2e2e2}.pkg_filter_item{background:#fff;position:relative;z-index:8;overflow:hidden;min-height:86px;height:auto}.pkg_filter_item
dl{position:relative;z-index:1;float:left;padding:4px
0 3px;border-bottom:1px solid #eee;width:100%;bottom:-1px}.pkg_filter_item
dt{float:left;width:91px;height:24px;padding:5px
0 6px 15px;line-height:24px;text-align:left;color:#999}.pkg_filter_item
dd{position:relative;float:left;width:840px;padding:5px
0 6px;font-size:14px;font-weight:normal}.pkg_filter_item
dd{width:890px}.pkg_filter_buxian{float:left;width:39px;height:20px;margin:3px
11px 0 0;margin-top:0}.pkg_filter_buxian
a{display:block;width:39px;height:20px;line-height:20px;text-align:center}.pkg_filter_others{position:relative;float:left;width:700px;overflow:hidden;font-size:0}.index1200
.pkg_filter_others{width:790px;margin:3px
11px 0 0;font-size:12px}.pkg_filter_others
a{height:20px;line-height:20px;text-align:center;display:inline-block;color:#666;padding:0;margin-right:10px;min-width:67px;font-size:12px;max-width:790px}.pkg_filter_others2{display:none;padding-top:10px}.pkg_filter_others2
a{min-width:33px}.pkg_filter_others2 a
input{margin-right:8px;vertical-align:text-bottom}div.pkg_filter_others .pkg_filter_others2 a:hover,
div.pkg_filter_others .pkg_filter_others2 a:focus{background:#fff;color:#f80;border-radius:0;font-weight:100}.pkg_filter_others2.checked{display:block}.thcontent{width:1000px;margin:0
auto;margin-top:0px;height:auto;padding-bottom:0px;margin-bottom:0px;overflow:hidden}.thcontent{background:#F4F7F1}.w1030{width:1030px;margin-bottom:30px;margin-top:10px;padding-bottom:10px;height:auto}.thcontent
.square{position:relative;width:305px;height:240px;margin-bottom:15px;margin-right:13px;float:left;padding:10px}.themebg{background:url(http://img3.tuniucdn.com/img/2015060775/indicator/themebg.png) #fff no-repeat bottom}.thcontent .square
.imgbox{display:block;width:305px;height:188px;overflow:hidden}.thcontent .square .imgbox
img{width:305px}.lh40{display:block;line-height:20px;margin-top:10px;font-size:18px;font-family:'microsoft yahei'}.flag_niuzhuan{display:inline-block;position:absolute;width:64px;height:64px;top:0;left:0}.flag_niuzhuan{background:url(http://ssl2.tuniucdn.com/img/20150211/common/flag_niuzhuan.jpg) 0 0 no-repeat}.button{float:left;height:22px;margin-left:440px;display:none}.button
a{float:left;width:60px;padding:3px
0;border-radius:2px;line-height:20px;text-align:center;border:1px
solid #ccc;border-radius:5px;margin-right:5px;font-size:14px}.button a:hover{color:#fff;background:#f80;font-weight:bold}.pkg_filter_quanxuan{float:left;width:39px;height:20px;margin:3px
11px 0 0;margin-top:0}.pkg_filter_quanxuan
a{display:block;width:39px;height:20px;line-height:20px;text-align:center}.index1200
.all_02{width:790px;margin:3px
11px 0 0;font-size:12px}.all_02{position:relative;float:left;width:700px;overflow:hidden;font-size:0}.all_02
a{height:20px;line-height:20px;text-align:center;display:inline-block;color:#666;padding:0;margin-right:10px;min-width:67px;font-size:12px;max-width:73px}.pkg_filter_quanxuan a.checked,
.pkg_filter_buxian a.checked,
.pkg_filter_quanxuan a:hover,
.pkg_filter_quanxuan a:active,
.all_02
a.checked{background:#f80;color:#fff;border-radius:2px;text-decoration:none;font-weight:normal}.J_ind_button
.btn_sure{background:#f80;color:#fff}