.d_myyouji{padding-top:158px;width:100%;font-family:'Microsoft Yahei';background-color:#05092C}.d_myyouji
.myyouji{display:block;margin:0
auto;width:1190px;background-color:#FFF}.d_myyouji .myyouji
.yj_head{position:relative;width:inherit;height:140px}.d_myyouji .myyouji .yj_head
.yj_head_face{overflow:hidden;position:absolute;top:-61px;left:37px;display:block;width:164px;height:164px;border:5px
#CFCFCF solid;border-radius:82px;background-color:#FFF}.d_myyouji .myyouji .yj_head .yj_head_face
img{width:164px;height:164px;border:0;background:0}.d_myyouji .myyouji .yj_head
.yj_head_mid{display:inline;float:left;margin-left:240px;padding-top:24px}.d_myyouji .myyouji .yj_head .yj_head_mid
h1{font-size:16px;font-weight:normal}.d_myyouji .myyouji .yj_head .yj_head_mid h1
span{display:inline-block;margin-left:6px;padding:0
4px;height:13px;line-height:13px;font-size:10px;background-color:#F46C16;color:#FFF}.d_myyouji .myyouji .yj_head .yj_head_mid
h2{margin-top:2px;height:20px;line-height:20px;font-size:14px}.d_myyouji .myyouji .yj_head .yj_head_mid h2
span{display:inline-block;padding-right:40px;height:20px;line-height:20px}.d_myyouji .myyouji .yj_head .yj_head_mid h2 span
i{background-image:url(http://img4.tuniucdn.com/img/2015112619/guide/gonglue/wyouji_icon.png)}.d_myyouji .myyouji .yj_head .yj_head_mid h2 span
i.yj_icon_prise{display:inline-block;width:17px;height:14px;background-position:2px -59px}.d_myyouji .myyouji .yj_head .yj_head_mid h2 span
i.yj_icon_view{display:inline-block;width:18px;height:14px;background-position:1px -80px}.d_myyouji .myyouji .yj_head .yj_head_mid h2
span.head_place{padding-left:14px;padding-right:0;font-size:12px;font-family:'宋体'}.d_myyouji .myyouji .yj_head .yj_head_mid
h3{font-size:14px}.d_myyouji .myyouji .yj_head .yj_head_mid
h4{font-size:12px}.d_myyouji .myyouji .yj_head .yj_head_mid h4
a{color:#017FF7}.d_myyouji .myyouji .yj_head .yj_head_mid h4
span{margin-left:10px}.d_myyouji .myyouji .yj_head .yj_head_mid h4 span
a{color:#528FAC}.d_myyouji .myyouji .yj_head
.yj_head_right{display:inline;float:right;padding-top:14px;padding-right:19px}.d_myyouji .myyouji .yj_head .yj_head_right
span{font-size:14px}.d_myyouji .myyouji .yj_head .yj_head_right span
b{padding-left:14px;font-size:28px}.d_myyouji .myyouji
.yj_nav{width:inherit;height:40px;background-color:#37C349}.d_myyouji .myyouji .yj_nav
ul.ul_yj_nav{height:40px;line-height:40px}.d_myyouji .myyouji .yj_nav ul.ul_yj_nav
li{display:inline;float:left}.d_myyouji .myyouji .yj_nav ul.ul_yj_nav
li{}.d_myyouji .myyouji .yj_nav ul.ul_yj_nav li
a{display:block;width:70px;height:40px;font-size:16px;text-align:center;color:#FFF}.d_myyouji .myyouji .yj_nav ul.ul_yj_nav li.li_active a,
.d_myyouji .myyouji .yj_nav ul.ul_yj_nav li:hover
a{background-color:#21A832}.dyj_cont{*overflow:hidden;*zoom:1;width:inherit;background-color:#EFEFEF}.dyj_cont:after{display:table;content:"";width:0;clear:both}.index1200
.dyj_cont_left{width:900px}.index1000
.dyj_cont_left{width:700px}.dyj_cont_left{display:inline;float:left;margin-left:16px;width:900px}.dyj_cont_left
.dyj_left_block{padding-bottom:10px}.dyj_cont_left .dyj_left_block .nav-bar
.crumbs{position:relative;left:-12px}.dyj_cont_left .dyj_left_block .nav-bar .crumbs span
h1{font-size:12px}.dyj_cont_left .dyj_left_block
.travelnote_tab{margin-bottom:0;padding:10px;padding-bottom:14px;background-color:#FFF}.dyj_cont_left .dyj_left_block .travelnote_tab
a.collectnote{width:100px}.dyj_cont_left .dyj_left_block .travelnote_tab
a.publish{float:right;margin:0;padding:0;width:100px;height:30px;line-height:30px;text-indent:30px;font-size:14px;border-radius:3px;background-color:#F80;background-image:url(http://img4.tuniucdn.com/img/2015112619/guide/gonglue/wyouji_icon.png);background-position:7px -26px;background-repeat:no-repeat;color:#FFF}.dyj_cont_left .dyj_left_block table.datatable
tr{background-color:#FFF}.dyj_cont_left .dyj_left_block table.datatable
tr.tr_nolist{text-align:center}.dyj_cont_left .dyj_left_block table.datatable tr.tr_nolist
td{padding-top:20px;padding-bottom:10px;border-bottom:0;color:#CCC}.dyj_cont_left .dyj_left_block table.datatable tr.tr_nolist td
img{margin:0
auto;display:block}.dyj_cont_left .dyj_left_block table.datatable tr th:first-child{padding-left:14px}.dyj_cont_left .dyj_left_block table.datatable tr td:first-child{padding-left:14px}.dyj_cont_right{display:inline;float:right;margin-right:16px;padding-top:10px;width:240px}.dyj_cont_right
.dyj_block{margin-bottom:20px}.dyj_cont_right .dyj_block
.dyj_block_head{position:relative;height:30px;line-height:30px;text-indent:24px;font-size:17px}.dyj_cont_right .dyj_block
.dyj_block_head.dyj_jingdian{background-image:url(http://img4.tuniucdn.com/img/2015112619/guide/gonglue/wyouji_icon.png);background-repeat:no-repeat;background-position:0px -95px}.dyj_cont_right .dyj_block
.dyj_block_head.dyj_tuijian{background-image:url(http://img4.tuniucdn.com/img/2015112619/guide/gonglue/wyouji_icon.png);background-repeat:no-repeat;background-position:0px -122px}.dyj_cont_right .dyj_block .dyj_block_head
a.link_share{float:right;font-size:14px;text-indent:16px;background-image:url(http://img4.tuniucdn.com/img/2015112619/guide/gonglue/wyouji_icon.png);background-repeat:no-repeat;background-position:0px -146px}.dyj_cont_right .dyj_block .dyj_block_head
.shareulbg_2{overflow:hidden;position:absolute;top:25px;left:192px;display:none;margin:0
174px 0 -30px;padding:6px
0 2px 0;width:129px;height:129px;line-height:18px;font-size:12px;font-family:'Microsoft Yahei';text-align:left;text-decoration:none;background-image:url(http://img3.tuniucdn.com/img/2014090210/gonglue_v2/icon.png);background-origin:padding-box;background-position:-38px -720px;background-size:auto;color:rgb(51, 51, 51);z-index:100;cursor:pointer;zoom:1}.dyj_cont_right .dyj_block .dyj_block_head .shareulbg_2
a{display:block;float:left;margin:0
!important;width:64px !important;height:64px !important;background:none !important}.dyj_cont_right .dyj_block .dyj_block_head .shareulbg_2 a
span{display:block;margin-top:40px;text-align:center;text-indent:0 !important;cursor:pointer}.dyj_cont_right .dyj_block .dyj_block_head
h1{display:inline;float:left}.dyj_cont_right .dyj_block
.dyj_block_body{padding:10px;background-color:#FFF}.dyj_cont_right .dyj_block .dyj_block_body
.dyj_nogo{}.dyj_cont_right .dyj_block .dyj_block_body .dyj_nogo
img.img_niuhead{display:block;margin:0
auto;margin-top:30px}.dyj_cont_right .dyj_block .dyj_block_body .dyj_nogo
h2{padding-bottom:4px;font-size:16px}.dyj_cont_right .dyj_block .dyj_block_body .dyj_nogo h2
a{color:#62BA56}.dyj_cont_right .dyj_block .dyj_block_body .dyj_nogo
h3{font-weight:bold}.dyj_cont_right .dyj_block .dyj_block_body .dyj_nogo h3
b.bred{font-weight:normal;color:red}.dyj_cont_right .dyj_block .dyj_block_body .dyj_nogo
h4{padding-bottom:52px}.tuc-num-top{padding-left:0}.pagination{clear:both;color:#404040;font-size:12px;font-weight:400;height:40px;margin:0
auto 8px;padding-right:0;padding-top:15px}.page-bottom{float:right;display:inline;margin-right:20px}.pagination .page-cur{background-color:#42b312;border:1px
solid #42b312;color:#fff}.page{border:1px
solid #C7E7AB}.page-cur, .pagination a,.page-end{border:1px
solid #ddd;background:#fff}.pagination a:hover{background:#C7E7AB}.pagination a,.page-prev,.page-start,.page-cur,.page,.page-end,.page-skip{height:22px;line-height:16px;padding:6px
10px 0}.pagination a,.page-prev,.page-cur,.page,.page-start,.page-end,.page-break,.page-skip{color:#404040;float:left;margin:0
3px}.pagination
.extra{float:right;margin-left:20px}.pagination .extra
.num{height:26px;width:30px;line-height:26px;text-align:center;border:1px
solid #ddd}.pagination .extra
.submit{display:inline-block;height:26px;width:36px;line-height:26px;text-align:center;border:1px
solid #ddd;cursor:pointer;background:#fff}.my_way_1{display:none}.my_way_2{display:none}.waynote_tab{margin-bottom:0;padding:10px;padding-bottom:14px;background-color:#FFF;height:34px;margin-bottom:17px}.nav_right .waynote_tab
a.tab.cur{color:#333;font-weight:bold;border-bottom:2px solid #F80}.nav_right .waynote_tab
a.mynote{color:#390;margin-right:115px;width:64px;text-align:center}.nav_right .waynote_tab
a.tab{font-size:14px;line-height:34px;color:#390;display:block;float:left;text-decoration:none}.dyj_cont_left .dyj_left_block .waynote_tab
a.collectnote{width:65px}.nav_right .waynote_tab
a.collectnote{color:#390;margin-right:80px;width:76px;text-align:center}.nav_right .waynote_tab
a.tab{font-size:14px;line-height:34px;color:#390;display:block;float:left}.dyj_cont_left .dyj_left_block .waynote_tab
a.publish{float:right;margin:0;padding:0;width:100px;height:30px;line-height:30px;text-indent:30px;font-size:14px;border-radius:3px;background-color:#F80;background-image:url(http://img4.tuniucdn.com/img/2015112619/guide/gonglue/wyouji_icon.png);background-position:7px -26px;background-repeat:no-repeat;color:#FFF}.nav_right .waynote_tab
a.publish{width:100px;height:34px;background:url("/site/images/user_center/publish.gif") no-repeat center;display:block;float:left;margin-left:30px}.nav_right .waynote_tab
a.publish{float:right}.nav_right .my_way_0 tr td a,
.nav_right .my_way_1 tr td a,
.nav_right .my_way_2 tr td
a{color:#22c233;display:inline-block;margin-right:25px;float:left}.nav_right .waynote_tab .datatable tr td a:visited{color:#22c233}.a_collect i,
.a_edit i,
.a_del
i{display:block;float:left;margin-top:8px;width:15px;height:15px;background:url(/site/file/deyonUserCenter/images/wanfa-icon.png?v=201606152125) no-repeat;margin-right:5px}.a_edit:hover
.i_edit{background-position:-48px 0}.a_del
i{background-position:-18px 0}.a_del:hover
.i_del{background-position:-66px 0}.a_collect
i{background-position:-32px 0}.a_collect:hover
.i_collect{background-position:-80px 0}.index1000 th[width='300']{width:250px}.index1000 .nav_right .waynote_tab
a.mynote{margin-right:90px}