@charset "utf-8";
#page{ width:990px; margin:0px auto;}
.order {
	
}
.orderStep {
	width: 990px; overflow: hidden; margin-bottom: 15px;
}
.orderStep ul {
	width: 1050px; height: 34px; overflow: hidden; background-image: url("../images/step1.gif"); background-repeat: no-repeat;
}
.orderStep .step1 {
	background-image: url("../images/step1.gif");
}
.orderStep .step2 {
	background-image: url("../images/step2.gif");
}
.orderStep .step3 {
	background-image: url("../images/step3.gif");
}
.orderStep .step4 {
	background-image: url("../images/step4.gif");
}
.orderStep .step5 {
	background-image: url("../images/step5.gif");
}
.orderStep li {
	width: 195px; text-align: center; line-height: 38px; float: left;
}
.orderStep li {
	color: rgb(153, 153, 153); font-weight: bold;
}
.orderStep li a {
	color: rgb(153, 153, 153); font-weight: bold;
}
.orderStep li a:hover {
	text-decoration: underline;
}
.orderStep li.on {
	color: rgb(49, 162, 0); font-size: 14px; font-weight: bold;
}
.orderStep .li1 {
	
}
.orderStep .li2 {
	width: 225px;
}
.orderStep .li3 {
	width: 182px;
}
.orderStep .li4 {
	width: 215px;
}
.orderStep .li5 {
	width: 188px;
}
.yudingOrderStep {
	width: 990px; overflow: hidden; margin-bottom: 15px;
}
.yudingOrderStep ul {
	width: 1050px; height: 34px; overflow: hidden; background-image: url("../images/order31.gif"); background-repeat: no-repeat;
}
.yudingOrderStep .step1 {
	background-image: url("../images/order31.gif");
}
.yudingOrderStep .step2 {
	background-image: url("../images/order32.gif");
}
.yudingOrderStep li {
	width: 490px; text-align: center; line-height: 38px; float: left;
}
.yudingOrderStep li {
	color: rgb(153, 153, 153); font-weight: bold;
}
.yudingOrderStep li a {
	color: rgb(153, 153, 153); font-weight: bold;
}
.yudingOrderStep li a:hover {
	text-decoration: underline;
}
.yudingOrderStep li.on {
	color: rgb(49, 162, 0); font-size: 14px; font-weight: bold;
}
.yudingOrderStep .li1 {
	
}
.yudingOrderStep .li2 {
	width: 480px;
}
.orderWrap {
	border: 2px solid rgb(221, 242, 195); width: 986px;  float:left
}
.orderSuccess {
	padding: 25px;
}
.orderSuccess .p1 {
	background: url("../images/order3.gif") no-repeat 195px 3px; height: 65px; text-align: center; color: rgb(255, 102, 0); line-height: 65px; font-size: 18px; font-weight: bold; margin-bottom: 25px;
}
.orderSuccess .p1 em {
	font-family: "Microsoft YaHei"; font-style: normal;
}
.orderSuccess .p1_1 {
	height: 65px; text-align: center; color: rgb(255, 102, 0); line-height: 65px; font-size: 18px; font-weight: bold; margin-bottom: 25px;
}
.orderSuccess .p1_1 em {
	font-family: "Microsoft YaHei"; font-style: normal;
}
.orderSuccess .p1 span {
	color: rgb(51, 51, 51); padding-left: 25px; font-size: 14px;
}
.orderSuccessDetail {
	background: rgb(255, 249, 235); padding: 15px 10px; border: 1px solid rgb(254, 239, 200); color: rgb(102, 102, 102);
}
.orderSuccessDetail p {
	line-height: 23px; padding-left: 15px;
}
.orderSuccessDetail a {
	color: rgb(255, 102, 0); text-decoration: underline;
}
.orderSuccessDetail a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.orderSuccessDetail .d1 {
	background: url("../images/order2.gif") no-repeat right; width: 620px; float: left;
}
.orderSuccessDetail .pT {
	background: url("../images/order1.gif") no-repeat 0px; color: rgb(102, 51, 0); font-weight: bold; margin-bottom: 5px;
}
.orderSuccessDetail .d2 {
	width: 250px; color: rgb(102, 51, 0); float: right;
}
.orderPay {
	padding: 25px 25px 15px;
}
.orderPay .p1 {
	height: 65px; text-align: center; color: rgb(255, 102, 0); line-height: 65px; font-size: 18px; font-weight: bold; margin-bottom: 15px;
}
.orderPay .p1 em {
	font-family: "Microsoft YaHei"; font-style: normal;
}
.orderPay .p1_1 {
	height: 65px; text-align: center; color: rgb(255, 102, 0); line-height: 65px; font-size: 18px; font-weight: bold; margin-bottom: 15px;
}
.orderPay .p1_1 em {
	font-family: "Microsoft YaHei"; font-style: normal;
}
.orderPayInfo {
	border-radius: 1px; border: 1px solid rgb(222, 242, 196); padding-bottom: 10px;
}
.orderPayInfo .hd {
	background: rgb(240, 250, 227); padding: 0px 15px; height: 35px; color: rgb(102, 153, 0); line-height: 35px; font-weight: bold; margin-top: 1px;
}
.orderPayInfo .bd td {
	padding: 10px 12px 0px; font-size: 14px;
}
.orderPayInfo .bd td b {
	color: rgb(255, 102, 0); font-size: 24px;
}
.orderPayInfo .bd td i {
	color: rgb(255, 102, 0); font-size: 18px; font-style: normal;
}
.orderPayTip {
	padding: 10px 5px; color: rgb(102, 102, 102);
}
.orderPayTipTrim1 {
	padding: 10px 5px 10px 25px;
}
.orderPayTip p {
	line-height: 23px; padding-left: 15px;
}
.orderPayTip a {
	color: rgb(255, 102, 0); text-decoration: underline;
}
.orderPayTip a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.orderPayTip .d1 {
	
}
.orderPayTip .pT {
	background: url("../images/order1.gif") no-repeat 0px; color: rgb(102, 51, 0); font-weight: bold; margin-bottom: 5px;
}
.orderPayTip .p3 {
	background: url("../images/order7.gif") no-repeat 695px; text-align: right; margin-top: 20px;
}
.orderPayTip .p3 b {
	color: rgb(255, 102, 0); font-family: Arial; font-size: 16px;
}
.OrderStatusPop {
	background: rgb(255, 255, 255); padding: 0px 0px 15px; border-radius: 2px; border: 2px solid rgb(176, 216, 124); width: 525px; box-shadow: 2px 2px 2px #999;
}
.OrderStatusPop .hd {
	background: rgb(240, 250, 227); padding: 0px 15px; height: 35px; line-height: 35px; overflow: hidden; font-size: 14px; font-weight: bold;
}
.OrderStatusPop .hd a {
	margin: 6px 0px 0px; float: right;
}
.OrderStatusPop .p1 {
	height: 65px; text-align: center; color: rgb(102, 153, 0); line-height: 65px; font-size: 14px;
}
.OrderStatusPop .p2 {
	text-align: center; padding-bottom: 15px;
}
.OrderStatusPop .p2 a {
	background: url("../images/order4.gif") no-repeat 0px 0px; margin: 0px 10px; width: 109px; height: 34px; text-align: center; color: rgb(255, 255, 255); line-height: 34px; font-size: 14px; font-weight: bold; display: inline-block; zoom: 1;
}
.OrderStatusPop a.a1 {
	
}
.OrderStatusPop a.a2 {
	background: url("../images/order5.gif") no-repeat 0px 0px; width: 175px; height: 34px;
}
.orderPayBank {
	padding: 0px 10px 15px;
}
.orderPayBank h2 {
	background: url("../images/order9.gif") no-repeat 0px; padding: 0px 15px; height: 28px; color: rgb(51, 51, 51); line-height: 28px; font-size: 14px; margin-bottom: 15px;
}
.zffs_sll {
	padding: 0px 10px;
}
.zffsmaintitle_sll {
	background: rgb(255, 245, 219); height: 34px;
}
.titleft_sll {
	width: 600px; height: 28px; padding-left: 8px; margin-top: 5px; float: left;
}
.zffsmaintitle_sll ul li {
	line-height: 28px; float: left;
}
.zffsmaintitle_sll ul li a {
	background: url("../images/order11.gif") repeat-x 0px 0px; border: 1px solid rgb(226, 226, 226); height: 28px; color: rgb(102, 102, 102); line-height: 28px; padding-right: 15px; padding-left: 15px; margin-right: 5px; float: left; display: block;
}
.zffsmaintitle_sll ul li.nowa_sll a {
	background: url("../images/order10.gif") repeat-x 0px 0px; border: 1px solid rgb(255, 204, 153); color: rgb(102, 51, 0); font-weight: bold;
}
.zfffcontent_sll {
	background: rgb(255, 255, 255); padding: 10px 15px; border: 1px solid rgb(255, 204, 153);
}
.zhxx_sll {
	margin: 0px auto; padding: 20px 30px; width: 270px;
}
.zhxx_sll table td {
	color: rgb(102, 102, 102); padding-top: 7px; padding-bottom: 7px; padding-left: 5px; font-size: 14px;
}
.zhxx_sllTrim1 {
	margin: 0px; padding: 10px 10px 20px; width: 525px;
}
.zhxx_sllTrim1 table td {
	padding: 3px 0px 3px 5px;
}
.zhxx_sll .a1 {
	color: rgb(255, 102, 0); font-size: 12px; text-decoration: underline;
}
.zhxx_sll .a1:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.colorhe_sll {
	padding: 10px 0px; color: rgb(102, 51, 0); font-size: 12px;
}
.zftable_sll table td {
	text-align: center; color: rgb(102, 102, 102); padding-top: 5px; padding-right: 3px;
}
.zftable_sll table td img {
	border: 1px solid rgb(255, 255, 255); display: block; cursor: pointer;
}
.zftable_sll table td img:hover {
	border: 1px solid rgb(205, 205, 205);
}
.zftable_sll table td img.on {
	border: 1px solid rgb(205, 205, 205);
}
.zftable_sll {
	padding-bottom: 20px; margin-bottom: 0px; border-bottom-color: rgb(255, 204, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
.zfbut_sll {
	padding: 20px 5px 5px; line-height: 18px;
}
.colorbold_sll {
	color: rgb(102, 102, 102); font-size: 14px; font-weight: bold;
}
.inputstyle_sll {
	border: 1px solid rgb(195, 194, 194); width: 140px; height: 30px; color: rgb(204, 0, 0); font-family: Arial; font-size: 24px; font-weight: bold;
}
.colorhe2_sll {
	color: rgb(153, 102, 51); font-size: 12px;
}
.zfbut_sll table td {
	padding: 5px;
}
.colorblue_sll {
	color: rgb(255, 102, 0); text-decoration: underline;
}
.colorblue_sll:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.font14_sll {
	font-size: 14px;
}
.checkOrder {
	padding: 20px 0px 15px;
}
.checkOrder h2 {
	background: url("../images/order9.gif") no-repeat 12px; padding: 0px 29px; height: 25px; line-height: 25px; font-size: 16px;
}
.checkOrder h2 span {
	color: rgb(255, 102, 0); font-size: 12px; font-weight: normal;
}
.checkOrderInfo {
	padding: 15px 25px;
}
.checkOrderInfo .a1 {
	line-height: 17px;
}
.checkOrderInfo .a1:hover {
	text-decoration: none;
}
.checkOrderInfo .a2 {
	color: rgb(255, 102, 0);
}
.checkOrderInfo table .lt {
	text-align: left;
}
.checkOrderInfo table .ct {
	text-align: center;
}
.checkOrderInfo .gray {
	color: rgb(102, 51, 0);
}
.checkOrderInfo .yellow {
	color: rgb(102, 51, 0);
}
.checkOrderInfo i {
	font-style: normal;
}
.checkOrderInfo table td {
	padding: 10px; text-align: center;
}
.checkOrderInfo table th {
	padding: 10px; text-align: center;
}
.checkOrderInfo table td {
	border-bottom-color: rgb(189, 205, 165); border-bottom-width: 1px; border-bottom-style: dotted;
}
.checkOrderInfo table th {
	background: rgb(240, 250, 227); color: rgb(102, 153, 0); font-weight: normal;
}
.checkOrderInfo .hd {
	background: url("../images/order13.gif") no-repeat 0px; color: rgb(102, 153, 0); line-height: 25px; padding-left: 14px; font-weight: bold;
}
.checkOrderInfo .hdTrim1 {
	color: rgb(102, 51, 0);
}
.checkOrderInfo .bd {
	margin-bottom: 15px;
}
.checkOrderInfo .bd b {
	color: rgb(255, 102, 0);
}
.checkOrderInfo .bd label {
	color: rgb(255, 102, 0);
}
.checkOrderInfo table td select {
	padding: 2px 2px 2px 0px; border: 1px solid rgb(102, 153, 0); height: 22px;
}
.checkOrderInfo .guestInfo {
	font-size: 14px;
}
.checkOrderInfo i {
	color: rgb(102, 51, 0);
}
.checkOrderInfo table.guestInfo td {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.orderProtocol {
	padding: 5px 25px; overflow: hidden; font-family: "Arial"; margin-bottom: 0px;
}
.orderProtocol .hd {
	background: rgb(255, 245, 219); height: 34px; overflow: hidden;
}
.orderProtocol .hd ul {
	height: 30px; padding-left: 10px; margin-top: 5px;
}
.orderProtocol .hd li {
	background: url("../images/order11.gif") repeat-x 0px 0px; border-width: 1px; border-style: solid; border-color: rgb(224, 224, 224) rgb(224, 224, 224) rgb(255, 204, 153); height: 28px; text-align: center; overflow: hidden; margin-right: 3px; float: left; display: inline-block; position: relative;
}
.orderProtocol .hd li.trim1 {
	border: 0px currentColor; width: 350px; text-align: right; color: rgb(153, 153, 153); line-height: 18px; margin-top: 5px; float: right;
}
.orderProtocol .hd li a {
	padding: 0px 10px; height: 30px; color: rgb(51, 51, 51); line-height: 30px; overflow: hidden; font-size: 12px; float: left;
}
.orderProtocol .hd li.on {
	background: url("../images/order10.gif") repeat-x 0px 0px; border: 1px solid rgb(255, 204, 153);
}
.orderProtocol .hd li.on a {
	color: rgb(102, 51, 0); font-weight: bold;
}
.orderProtocol .bd {
	padding: 10px 0px 10px 10px; border: 1px solid rgb(255, 204, 153); color: rgb(51, 51, 51); clear: both;
}
.orderProtocol .bd .item {
	line-height: 20px; overflow: auto; display: none;
}
.orderProtocol .bd p {
	line-height: 20px;
}
.orderProtocol .bd p.p2 {
	width: 100%; clear: both; float: left;
}
.orderProtocol .accessory {
	margin-top: 10px;
}
.orderProtocol .accessory span img {
	cursor: pointer;
}
.orderProtocol .accessory input {
	vertical-align: middle;
}
.orderProtocol .accessory label {
	margin-right: 10px;
}
.orderProtocol .checkOrderMoney {
	text-align: right; line-height: 24px; padding-bottom: 15px; border-bottom-color: rgb(221, 242, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
.orderProtocol .checkOrderMoney label {
	color: rgb(255, 102, 0);
}
.orderProtocol .checkOrderMoney b {
	color: rgb(102, 51, 0); font-size: 14px;
}
.orderProtocol .checkOrderMoneylb {
	font-size: 24px;
}
.orderProtocol .checkOrderMoney .p0 {
	margin-top: 8px;
}
.checkOrderBtn {
	margin: 25px 0px; text-align: center;
}
.checkOrderBtn input {
	margin: 0px 15px; display: inline; zoom: 1;
}
.userInfoWrap {
	padding: 20px;
}
.userInfo {
	width: 740px; overflow: hidden; padding-top: 10px; float: left;
}
.userInfo .hd {
	background: url("../images/order13.gif") no-repeat 0px; color: rgb(102, 153, 0); line-height: 25px; padding-left: 14px; font-weight: bold;
}
.userInfo h2 {
	background: url("../images/order9.gif") no-repeat 12px; padding: 10px 30px; height: 24px; line-height: 24px; font-size: 14px;
}
.userInfo h2 span {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: normal;
}
.orderList {
	background: rgb(255, 251, 239); margin: 15px 15px 20px 0px; border: 1px solid rgb(255, 209, 163); width: 228px; font-family: "Arial"; float: right; display: inline; position: relative;
}
.orderList .hd {
	background: url("../images/order18.gif") repeat-x 0px 0px; height: 32px; color: rgb(102, 51, 0); line-height: 32px; padding-left: 10px; font-weight: bold;
}
.orderList .hd span {
	background: url("../images/order17.gif") no-repeat 0px; margin: 7px 8px 0px 0px; width: 17px; height: 17px; float: right; cursor: pointer;
}
.orderList .hd span.close {
	background: url("../images/order21.gif") no-repeat 0px;
}
.orderList li {
	padding: 10px; line-height: 19px; text-indent: 5px; border-bottom-color: rgb(255, 206, 156); border-bottom-width: 1px; border-bottom-style: solid;
}
.orderList .li4 {
	padding: 10px; text-align: right; line-height: 19px; text-indent: 5px; border-bottom-color: rgb(255, 206, 156); border-bottom-width: 1px; border-bottom-style: solid;
}
.orderList li div {
	padding-bottom: 3px; margin-bottom: 5px; border-bottom-color: rgb(189, 204, 153); border-bottom-width: 1px; border-bottom-style: dotted;
}
.orderList li div.last {
	border: 0px currentColor; margin-bottom: 0px;
}
.orderList b {
	color: rgb(255, 102, 0); float: right;
}
.orderList b s {
	font-weight: normal; text-decoration: none;
}
.orderList li .p1 {
	color: rgb(255, 102, 0); line-height: 20px; font-weight: bold;
}
.orderList .li4 p {
	text-align: right;
}
.orderList .li4 strong {
	color: rgb(102, 51, 0); font-size: 14px;
}
.orderList .li4 label {
	color: rgb(255, 102, 0); font-size: 20px;
}
.orderList .li4 i {
	font-size: 24px; font-style: normal; font-weight: bold;
}
.userType {
	padding: 5px 20px 15px;
}
.userType .hd label {
	color: rgb(51, 51, 51); font-weight: normal; float: right;
}
.userType .hd label input {
	vertical-align: middle;
}
.userType .bd {
	padding: 15px 0px; border-bottom-color: rgb(170, 191, 139); border-bottom-width: 1px; border-bottom-style: dotted;
}
.userType .tb1 td {
	padding: 5px 0px;
}
.userType .tb1 i {
	color: red; font-size: 10px; font-style: normal;
}
.floatDiv {
	height: 28px; position: relative; z-index: 1;
}
.tip {
	color: rgb(153, 153, 153); font-weight: normal; text-decoration: underline; display: inline; cursor: pointer;
}
.floatTip {
	left: 3px; top: 7px; color: rgb(204, 204, 204); position: absolute;
}
.guestInputList {
	z-index: 100;
}
.guestInputList ul {
	background: rgb(255, 255, 255); border: 1px solid rgb(166, 198, 149); left: 0px; top: 25px; width: 162px; display: none; position: absolute; box-shadow: 0px 0px 5px #98bc86;
}
.guestInputList li {
	height: 21px; line-height: 21px;
}
.guestInputList li a {
	width: 100%; height: 100%; line-height: 21px; text-indent: 3px; display: block;
}
.guestInputList li a:hover {
	background: rgb(237, 245, 255); color: rgb(51, 51, 51);
}
.userType .input1 {
	border-radius: 1px; border: 1px solid rgb(166, 198, 149); width: 160px; height: 22px; line-height: 22px; margin-right: 10px;
}
.userType .input2 {
	border-radius: 1px; border: 1px solid rgb(166, 198, 149); width: 180px; height: 22px; line-height: 22px;
}
.userType .input3 {
	border-radius: 1px; border: 1px solid rgb(166, 198, 149); width: 30px; height: 22px; line-height: 22px;
}
.userType .input4 {
	border-radius: 1px; border: 1px solid rgb(166, 198, 149); width: 110px; height: 22px; line-height: 22px;
}
.userType .input1:focus {
	border: 1px solid rgb(152, 188, 134); box-shadow: 0px 0px 5px #98bc86;
}
.userType .input2:focus {
	border: 1px solid rgb(152, 188, 134); box-shadow: 0px 0px 5px #98bc86;
}
.userType .input3:focus {
	border: 1px solid rgb(152, 188, 134); box-shadow: 0px 0px 5px #98bc86;
}
.userType .input4:focus {
	border: 1px solid rgb(152, 188, 134); box-shadow: 0px 0px 5px #98bc86;
}
.userType .tb1 td {
	width: 35%;
}
.userType .tb1 .td1 {
	width: 15%; text-align: right;
}
.userType .tb1 select {
	padding: 2px 2px 2px 0px; border: 1px solid rgb(166, 198, 149); height: 24px; line-height: 24px;
}
.userTypeContact .s1 {
	height: 20px; display: block;
}
.userTypeContact span b {
	color: rgb(136, 74, 0); font-size: 14px;
}
.userTypeContact .textArea {
	margin: 5px 0px 10px; position: relative;
}
.userTypeContact .textArea textarea {
	padding: 2px; border: 1px solid rgb(237, 211, 165); width: 586px; height: 110px; color: rgb(102, 102, 102); font-size: 14px; overflow-y: scroll;
}
#reviewSubmit {
	border: 0px currentColor; width: 81px; height: 33px; float: right; cursor: pointer;
}
.userTypeContact input.enable {
	background: url("image/btn_post.jpg") no-repeat;
}
.userTypeContact input.disable {
	background: url("image/btn_post_no.gif") no-repeat;
}
#initReview {
	left: 5px; top: 5px; color: rgb(204, 204, 204); position: absolute;
}
.userTypeContact p em {
	font-weight: bold;
}
.userTypeContact p em.enable {
	
}
.userTypeContact p em.disable {
	color: rgb(218, 0, 0);
}
.userTypeContact .bd {
	padding: 5px 0px; margin-bottom: 15px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.userTypeContact .pT {
	background: url("../images/order1.gif") no-repeat 0px; color: rgb(102, 51, 0); line-height: 23px; padding-left: 15px; font-weight: bold; margin-bottom: 5px;
}
.userTypeContact .p1 {
	margin: 0px 0px 0px 15px; width: 670px;
}
.userTypeContact .p2 {
	margin: 0px 0px 0px 15px; width: 670px;
}
.userTypeContact .p1 textarea {
	border-radius: 2px; border: 1px solid rgb(159, 194, 142); width: 665px; height: 140px;
}
.userTypeContact .p1 textarea:focus {
	box-shadow: 0px 0px 5px #9fc28e;
}
.userTypeContact .p2 {
	text-align: right; margin-top: 5px;
}
.userInfoBtn {
	margin: 25px auto; padding: 45px 0px 35px; width: 935px; text-align: center; border-top-color: rgb(221, 242, 195); border-top-width: 1px; border-top-style: solid;
}
.userInfoBtn input {
	margin: 0px 15px; display: inline; zoom: 1;
}
.userInfo .hdTrim1 {
	background: url("../images/order1.gif") no-repeat 0px;
}
.userInfo .tb2 .input1 {
	border-radius: 1px; border: 1px solid rgb(166, 198, 149); width: 50px; height: 21px; line-height: 21px;
}
.userInfo .tb2 .input2 {
	border-radius: 1px; border: 1px solid rgb(166, 198, 149); width: 144px; height: 21px; line-height: 21px; margin-right: 5px;
}
.userInfo .tb2 .input1:focus {
	border: 1px solid rgb(152, 188, 134); box-shadow: 0px 0px 5px #98bc86;
}
.userInfo .tb2 .input2:focus {
	border: 1px solid rgb(152, 188, 134); box-shadow: 0px 0px 5px #98bc86;
}
.userInfo .tb2 input {
	vertical-align: middle;
}
.userInfo .tb2 .floatTip {
	left: 95px; _left: 5px;
}
.userInfo .tb2 th {
	background: rgb(255, 245, 219); color: rgb(102, 51, 0);
}
.userInfo .tb2 .s1 {
	color: rgb(255, 102, 0);
}
.jqmWindow {
	background: rgb(255, 255, 255); left: 50%; top: 17%; width: 525px; color: rgb(51, 51, 51); margin-left: -260px; display: none; position: fixed;
}
.jqmClose {
	overflow: hidden; float: right; display: inline;
}
.jqmOverlay {
	background: rgb(0, 0, 0);
}
* iframe.jqm {
	left: 0px; top: 0px; position: absolute; z-index: -1;
}
* html .jqmWindow {
	position: absolute;
}
#uzTooltip {
	background: rgb(247, 245, 209); padding: 2px 5px; border: 1px solid rgb(51, 51, 51); color: rgb(51, 51, 51); line-height: 20px; display: none; position: absolute; z-index: 1001; box-shadow: 2px 2px 2px #999;
}
#uzTooltip b {
	background: rgb(0, 0, 0); top: -10px; width: 10px; height: 10px; position: absolute;
}
#uzTooltip .bLeft {
	left: 10px;
}
#uzTooltip .bRight {
	right: 0px;
}
.UZ_CalenderStyle {
	left: 0px; top: 26px; width: 200px; position: absolute; z-index: 1000;
}
.calender {
	background: rgb(255, 255, 255); padding: 1px; border: 1px solid rgb(152, 188, 134); width: 195px; height: auto; font-size: 12px; margin-right: 14px; box-shadow: 1px 1px 5px #98bc86;
}
.calender ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
.calender .day {
	height: 20px; background-color: rgb(237, 245, 255);
}
.calender .day li {
	width: 14%; height: 20px; text-align: center; line-height: 20px; float: left;
}
.calender .date li {
	width: 14%; height: 20px; text-align: center; line-height: 20px; float: left;
}
.calender li a {
	color: rgb(51, 51, 51); font-family: Tahoma; font-size: 11px; text-decoration: none;
}
.calender li a:hover {
	color: rgb(255, 51, 0); text-decoration: underline;
}
.calender li a.hasArticle {
	color: rgb(255, 102, 0) !important; font-weight: bold;
}
.lastMonthDate {
	color: rgb(187, 187, 187); font-size: 11px;
}
.nextMonthDate {
	color: rgb(187, 187, 187); font-size: 11px;
}
.selectThisYear a {
	margin: 0px 2px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: underline;
}
.selectThisMonth a {
	margin: 0px 2px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: underline;
}
.calender .LastMonth {
	color: rgb(0, 0, 0); line-height: 16px; font-size: 18px; font-weight: bold; text-decoration: none;
}
.calender .NextMonth {
	color: rgb(0, 0, 0); line-height: 16px; font-size: 18px; font-weight: bold; text-decoration: none;
}
.calender .LastMonth {
	float: left;
}
.calender .NextMonth {
	float: right;
}
.calenderBody {
	clear: both;
}
.calenderTitle {
	height: 20px; text-align: center; line-height: 20px; clear: both;
}
.calender li .today {
	padding: 2px; border: 1px solid rgb(102, 153, 0); color: rgb(255, 255, 255); background-color: rgb(102, 153, 0);
}
.calender li a:hover {
	padding: 2px; border: 1px solid rgb(102, 153, 0); color: rgb(255, 255, 255); background-color: rgb(102, 153, 0);
}
.calenderBottom {
	padding: 3px 0px; text-align: left; clear: both; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.calenderBottom a {
	margin: 2px !important; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none;
}
.calenderBottom a.closeCalender {
	float: right;
}
.closeCalenderBox {
	background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); width: 11px; height: 11px; text-align: center; line-height: 11px; overflow: hidden; font-size: 9px; font-weight: normal !important; float: right;
}
.trhide {
	display: none;
}
.trhide td {
	background: rgb(239, 239, 239); text-align: left;
}
#grey_div {
	background: rgb(204, 204, 204); left: 0px; top: 0px; filter: Alpha(Opacity=30); position: absolute; opacity: 0.4; -moz-opacity: 0.4;
}
.xs {
	background: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); display: none; position: absolute;
}
.span_link {
	font-weight: lighter; margin-left: 30px;
}
.login_pay_dh {
	background: url("../images//login_bg_dh.jpg"); margin: -8px 0px 0px -8px; width: 400px; height: 200px; position: relative;
}
.login_paybg_dh {
	background: url("../images//login_line_dh.gif") no-repeat 397px 45px rgb(255, 255, 255); left: 3px; top: 3px; width: 394px; height: 194px; text-align: left; position: absolute;
}
.login_tit_dh {
	background: url("../images//login_titbg_dh.jpg"); height: 40px;
}
.login_tit_dh h1 {
	margin: 0px; padding: 0px 0px 0px 20px; text-align: left; color: rgb(4, 52, 101); line-height: 40px; font-size: 14px; font-weight: bold;
}
.login_tit_dh img {
	top: 8px; right: 20px; position: absolute;
}
.login_input_dh {
	left: 3px; top: 2px; width: 390px; height: 150px; text-align: left; float: left; position: relative;
}
.margin_right_dh {
	margin-right: 8px;
}
.P1_dh {
	left: 30px; top: 25px; width: 350px; color: rgb(51, 51, 51); line-height: 30px; text-indent: 20px; font-size: 14px; position: relative;
}
.P1_dh p {
	float: left; display: block;
}
.P1_dh input {
	border: 1px solid rgb(102, 158, 214); height: 22px;
}
.P2_dh {
	left: 30px; top: 45px; width: 350px; clear: both; position: relative;
}
.P2_dh input {
	background: url("../images//login_btnbg_dh.jpg") no-repeat; border: 0px currentColor; left: 55px; width: 113px; height: 28px; color: rgb(255, 255, 255); font-size: 13px; font-weight: bold; position: relative;
}
.dttable table {
	border: 1px solid rgb(211, 231, 171); border-collapse: collapse;
}
.dttable table.zf {
	border: 1px solid rgb(239, 239, 239); width: 920px; border-collapse: collapse;
}
.dttable table th {
	background: rgb(231, 255, 195); height: 28px; text-align: center; color: rgb(102, 153, 0); line-height: 28px; font-size: 12px;
}
.dttable table td {
	background: rgb(255, 255, 255); padding: 5px 10px; text-align: center; color: rgb(102, 102, 102); line-height: 18px; border-top-color: rgb(211, 231, 171); border-top-width: 1px; border-top-style: solid;
}
.dttable table td.cororg {
	color: rgb(255, 102, 0);
}
.dttable table tr.row {
	background: rgb(239, 239, 239);
}
#btnActionCode {
	
}
.notice {
	background: rgb(255, 252, 229); margin: 0px 30px; padding: 0px 10px; border-radius: 3px; border: 1px solid rgb(251, 230, 148); height: 30px; color: rgb(255, 0, 0); line-height: 30px;
}
.notice b {
	background: url("../images/close.jpg") no-repeat; width: 25px; height: 25px; margin-top: 3px; float: right; display: block; cursor: pointer;
}
.notice_2 {
	background: rgb(255, 252, 229); padding: 0px 10px; border-radius: 3px; border: 1px solid rgb(251, 230, 148); color: rgb(255, 0, 0); line-height: 22px; margin-top: 10px;
}
.jiesuanInfo {
	padding: 10px 30px; width: 926px; margin-top: 15px; border-bottom-color: rgb(221, 242, 195); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.jiesuanInfo2 {
	padding: 10px 30px; margin-top: 15px;
}
.jiesuanInfoSum {
	padding: 10px 30px; margin-top: 15px;
}
.jiesuanInfo .red {
	color: rgb(251, 41, 6);
}
.jiesuanInfo .orange {
	color: rgb(255, 102, 0);
}
.checkOrderBtn a {
	color: rgb(6, 110, 251); margin-top: 15px; float: left;
}
.jiesuanInfo dt {
	background: url("../images/newOrder5.jpg") no-repeat 0px; padding: 5px 25px; margin-bottom: 10px; cursor: pointer;
}
.jiesuanInfo dt.on {
	background: url("../images/newOrder6.jpg") no-repeat 0px;
}
.jiesuanInfo dd {
	padding: 5px 10px 25px; border: 1px solid rgb(255, 204, 153); line-height: 28px; display: none; position: relative;
}
.jiesuanInfo dd .aClose {
	top: 8px; right: 8px; position: absolute;
}
.jiesuanInfo dd .input1 {
	border: 1px solid rgb(177, 176, 175); height: 20px; line-height: 20px;
}
.jiesuanInfoLeft {
	
}
.jiesuanInfoLeft dl {
	margin: 0px 0px 10px; width: 500px; clear: both; display: block;
}
.jiesuanInfoRight {
	width: 250px; height: 80px; text-align: right; right: 10px; bottom: 5px; line-height: 25px; overflow: hidden; float: right; position: absolute;
}
.jiesuanInfoSum {
	padding: 10px 0px 70px; text-align: right;
}
.jiesuanInfoSum .b1 {
	color: rgb(102, 51, 0); font-size: 18px;
}
.jiesuanInfoSum .b2 {
	color: rgb(255, 102, 0); padding-right: 10px; font-size: 18px;
}

.clearfix{ clear:both}



.txtHiddenPersonNum,.txtHiddenChildNum{ width:20px;}
.put{ border:0px; cursor:pointer}
.fastCalender2{ }
.fastCalender2 .input1 {
	border: 1px solid rgb(204, 204, 204); width: 40px; height: 18px; 
}
.fastCalender2 .p10 {
	width: 333px; float: left;position: relative;
}
.fastCalender2 .p9 {
	margin-top: 4px;
}
.fastCalender2 .p9 input {
	border: 1px solid rgb(204, 204, 204); width: 40px; height: 18px;
}
.fastCalender2 .p11 {
	margin-left: 15px; float: left; display: inline;
}
.fastCalender2 .p11 input {
	 width: 127px; height: 36px; cursor: pointer;
}
.fastCalender2 .p10 label {
	width: 60px; margin-top: 7px; float: left;
}
.fastCalender2 .p10 .s10 {
	 float: left;
}
.fastCalender2 .p10 .s10 input {
	 border: 1px solid rgb(102, 102, 102); width: 296px; height: 16px; color: rgb(153, 153, 153); overflow: hidden; font-size:12px
}
.fastCalender2 .s10Trim1 {
	top: 26px; width: 411px; right: 29px; clear: both; float: right; position: absolute;
}
.fastCalender2 .p10 .cArrow {
	width: 47px; height: 15px; right: 5px; float: right; position: absolute; cursor: pointer;
}
.fastCalender2 .p10 .cdown {
	background: url("../images/p5.gif") no-repeat 0px 0px; bottom: -20px;
}
.fastCalender2 .p10 .cup {
	background: url("../images/p50.gif") no-repeat 0px 0px; bottom: -14px;
}
.fastCalender2 .calenderPart {
 width: 310px; overflow: hidden; clear: both; border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; float: right; display: none; overflow:hidden; 
 
}
.fastCalender2 .calenderPartM {
	margin: 0px 0px 0px 6px; width: 300px; clear: both; border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 0px; border-bottom-width: 0px; border-top-style: none; border-bottom-style: none; float: left; display: inline;
}
.fastCalender2 .calenderPartM ul {
  border: 1px solid rgb(102, 102, 102); height: 205px; overflow: auto; background-color:#FFFFFF
}
.fastCalender2 .calenderPartM li {
	height: 33px; color: rgb(51, 51, 51); line-height: 33px; text-indent: 5px; font-size: 12px; border-bottom-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: solid; cursor: pointer;
}
.fastCalender2 .calenderPartM li:hover {
	background: rgb(238, 238, 238);
}
.fastCalender2 .calenderPartM li b {
	color: rgb(255, 102, 0); font-weight: bold;
}
.fastCalender2 .calenderPartF {
	background: url("../images/p39.gif") no-repeat 0px 0px; width: 411px; height: 5px; overflow: hidden; clear: both; float: left;
}



/*流程*/
.liucheng{ width:970px; height:28px; margin:15px auto; background:url(../images/liuchengbg1.png) no-repeat;}
#new_step1{ background-position:0 0;}
#new_step2{ background-position:0 -29px;}
#new_step3{ background-position:0 -58px;}
#new_step4{ background-position:0 -87px;}
#new_step5{ background-position:0 -116px;}
#new_step6{ background-position:0 -145px;}
