.pagination{clear:both;height:40px;font-size:12px;font-weight:400;color:#404040;width:800px;margin:15px
auto}.page-bottom{float:right}.pagination a,.page-prev,.page-cur,.page-start,.page-end,.page-break,.page-skip{float:left;color:#404040;margin:0
3px}.pagination a,.page-prev,.page-start,.page-cur,.page-end,.page-skip{height:22px;padding:6px
10px 0;line-height:16px}.page-start{width:auto}.page-cur,.pagination a,.page-end{border:1px
solid #c7e7ab}.pagination
a{text-decoration:none !important}.pagination a:hover{color:#404040;background-color:#c7e7ab}.page-start,.pagination .page-prev{border:1px
solid #c7e7ab}.page-cur{background-color:#c7e7ab}.page-break{padding:0
4px}.icon{display:inline-block;overflow:hidden}.pagination
.icon{height:10px;width:9px;background:url(http://img1.tuniucdn.com/img/20130619/common/o_20x500.png) no-repeat}.page-start
.icon{margin-right:3px;background-position:-8px -228px}.page-prev
.icon{margin-right:3px;background-position:-8px -228px}.page-next
.icon{margin-left:3px;background-position:-8px -288px}.page-end
.icon{margin-left:3px;background-position:-8px -288px}.page-start,.page-end{color:#ddd;border-color:#ddd;cursor:default}.page-start
.icon{background:url(http://img1.tuniucdn.com/img/20150211/common/page-arrow.png) 0 0 no-repeat}.page-end
.icon{background:url(http://img1.tuniucdn.com/img/20150211/common/page-arrow.png) 0 -15px no-repeat}