.wrap{background:none repeat scroll 0 0 #F4F7F1;height:100%}.wrapmain{background:#F4F7F1 url(http://img3.tuniucdn.com/img/2014060501/indicator/cbg.png) no-repeat center 730px;height:auto}.long_nav_bg{min-width:1000px}.content{width:1000px;margin:0
auto;height:auto;padding-bottom:50px;background:#f4f7f1;position:relative}.cbg{background:url(http://img3.tuniucdn.com/img/2014060501/indicator/cbg.png) no-repeat;background-position:0 350px;width:1295px;height:auto;margin:0
auto}.top_tip{border-bottom:1px solid #d7d7d7;font-size:16px;color:#333;font-family:"Microsoft Yahei";padding-bottom:10px;margin-bottom:20px}.top_tip
strong{font-weight:bold}.main_tit
.tt{color:#434343;font-size:20px;font-weight:bold;font-family:"Microsoft Yahei";float:left;padding-bottom:10px}.main
.descontent{width:788px;margin-top:0}.nav-ind{width:100%;min-width:1000px;height:105px;background-color: #39b778; repeat;margin-bottom:35px}.navbar{width:1000px;height:105px;margin:0
auto}.navbar
.indlogo{background:url(../image/huiwan.bmp) no-repeat;_background:url(../image/huiwan.bmp) no-repeat;width:315px;height:105px;float:left}.navbar
.indsep{padding-left:38px;padding-right:38px;float:left;height:105px;cursor:pointer;display:block}.navbar
.indsep.selected{background:#F4F7F1}.navbar .indsep:hover{background:#F4F7F1}.shouye,.list,.tour,.trend,.intour,.theme,.navbar .indsep.selected .intour,.navbar .indsep:hover .intour,.navbar .indsep:hover .theme,.navbar .indsep.selected .theme,.navbar .indsep:hover .trend,.navbar .indsep.selected .trend,.navbar .indsep.selected .shouye,.navbar .indsep:hover .shouye,.navbar .indsep.selected .list,.navbar .indsep:hover
.list{background:url(http://img3.tuniucdn.com/img/20140505/indicator/indicons.png?v=2) no-repeat;_background:url(http://img3.tuniucdn.com/img/20140505/indicator/indicons2.png?v=2) no-repeat;float:left;margin-top:30px;padding-top:30px;font-family:'microsoft yahei';font-weight:bold;font-size:16px}.shouye{background-position:-52px 0px;width:35px;height:8px;color:#fff}.navbar .indsep.selected
.shouye{background-position:4px 0px;width:35px;height:8px;color:#20b789}.navbar .indsep:hover
.shouye{background-position:4px 0px;width:35px;height:8px;color:#20b789}.list{background-position:-52px -50px;width:55px;height:8px;color:#fff}.navbar .indsep.selected
.list{background-position:9px -50px;width:55px;height:8px;color:#20b789}.navbar .indsep:hover
.list{background-position:9px -50px;width:55px;height:8px;color:#20b789}.trend{background-position:-45px -100px;width:70px;height:8px;color:#fff}.navbar .indsep.selected
.trend{background-position:18px -100px;width:70px;height:8px;color:#20b789}.navbar .indsep:hover
.trend{background-position:18px -100px;width:70px;height:8px;color:#20b789}.theme{background-position:-42px -156px;width:70px;height:8px;color:#fff}.navbar .indsep.selected
.theme{background-position:18px -156px;width:70px;height:8px;color:#20b789}.navbar .indsep:hover
.theme{background-position:18px -156px;width:70px;height:8px;color:#20b789}.intour{background-position:-42px -205px;color:#fff;width:70px;height:8px}.navbar .indsep.selected
.intour{background-position:25px -205px;width:70px;height:8px;color:#20b789}.navbar .indsep:hover
.intour{background-position:25px -205px;width:70px;height:8px;color:#20b789}.high_chart
svg{overflow:visible}.high_chart .highcharts-container{overflow:visible !important}.main{overflow:visible !important}#intour{position:relative}#intour
p{position:absolute;top:5px;left:5px;padding:0
5px;left:-12px;width:114%;height:20px;color:#fff;text-align:center;background:url(http://img3.tuniucdn.com/img/20140505/indicator/renzailvt03.png) no-repeat}#intour
p.inactive{background:url(http://img3.tuniucdn.com/img/20140505/indicator/renzailvt01.gif) no-repeat;height:26px;left:8px}.navbar .indsep.selected
.intour{background-position:25px -205px;width:70px;height:8px;color:#20b789}.topguonei,.topchujing,.destrend,.themetuijian,.pintour,.tmid .tbox .jiaosir,.thcontent .square .like a,.thcontent .lvtu .like a,.tmid .tbox .tname
.desicon{background:url(http://img3.tuniucdn.com/img/20140505/indicator/indicons.png?v=2) no-repeat}.banner{background:url(http://img3.tuniucdn.com/img/2014060601/indicator/banner.jpg) center top  no-repeat;height:300px;min-width:1000px}.fljiaosir{background:url(http://img3.tuniucdn.com/img/2014060601/indicator/jiaosir.jpg);width:229px;height:248px;position:absolute;top:400px;left:-239px}.content
.side1{background:url(http://img3.tuniucdn.com/img/20140505/indicator/side1.jpg);width:145px;height:431px;position:absolute;top:891px;left:-145px}.content
.side2{background:url(http://img3.tuniucdn.com/img/20140505/indicator/side2.jpg);width:140px;height:348px;position:absolute;top:1634px;left:-140px}.content
.side3{background:url(http://img3.tuniucdn.com/img/20140505/indicator/side3.jpg);width:136px;height:422px;position:absolute;top:326px;right:-136px}.content
.side4{background:url(http://img3.tuniucdn.com/img/20140505/indicator/side4.jpg);width:136px;height:359px;position:absolute;top:1360px;right:-136px}.titlebar{width:1000px;height:35px}.titlebar
.spanr{color:#ff446c}.titlebar
a{color:#2e9900;font-size:12px;font-family:'Simsun';padding-left:20px;line-height:40px;display:block;float:left}.titlebar a:hover{color:#f60}.topguonei,.topchujing,.destrend,.themetuijian,.pintour{font-weight:bold;font-size:24px;float:left;font-family:'microsoft yahei';height:35px;padding-left:35px;color:#434343}.topguonei{background-position:-210px 5px}.topchujing{background-position:0 -318px}.destrend{background-position:0 -470px}.themetuijian{background-position:0 -430px}.pintour{background-position:0 -385px}.imask{background:url(http://img3.tuniucdn.com/img/20140605/indicator/imask.png) no-repeat;_background:url(http://img3.tuniucdn.com/img/20140605/indicator/imask8.png) no-repeat;position:absolute;width:312px;height:291px;top:-13px;left:0px}.dmask{background:url(http://img3.tuniucdn.com/img/20140605/indicator/dmask.png) no-repeat;_background:url(http://img3.tuniucdn.com/img/20140605/indicator/dmask8.png) no-repeat;position:absolute;width:312px;height:291px;top:-13px;left:0px}.topcon{width:1000px;height:480px;margin-bottom:30px}.topcon
.ttop{background:url(http://img3.tuniucdn.com/img/20140505/indicator/ttop.png?v=3) no-repeat top;width:1000px;height:21px}.topcon
.tmid{background:#fff;width:998px;height:435px;border-left:1px solid #bebebe;border-right:1px solid #bebebe}.topcon
.btop{background:url(http://img3.tuniucdn.com/img/20140505/indicator/btop.png?v=2) no-repeat top;width:1000px;height:22px}.tbg{background:url(http://img3.tuniucdn.com/img/20140505/indicator/dotted.png) repeat-y right}.tmid
.tbox{width:312px;height:413px;padding:10px;float:left;overflow:hidden}.tmid .tbox
.imgbox{display:block;width:312px;height:282px;overflow:hidden;position:relative}.tmid .tbox
img{margin-top:-5px;height:282px}.tmid .tbox
.tname{font-family:'microsoft yahei';font-size:24px;color:#333;margin-top:-8px}.tmid .tbox .tname
.desicon{background-position:0 -275px;margin-top:10px;width:30px;height:30px;float:right}.tmid .tbox .tname
.span1{font-size:20px}.tmid .tbox .tname
.span2{font-size:36px;color:#ff446c;font-weight:bold}.tmid .tbox
.jiaosir{background-position:-70px -295px;width:70px;height:22px}.tmid .tbox
p{color:#666;line-height:23px}.tmid .tbox p
em{color:#333;padding-right:5px}.tmid .tbox p
span{color:#333;font-weight:bold}.descontent{width:998px;background:#fff;border-top:3px solid #f90;border-left:1px solid #e9ebea;border-right:1px solid #e9ebea;border-bottom:1px solid #e9ebea;margin-top:10px;height:396px;margin-bottom:30px}#icon{width:980px;padding-top:10px;padding-left:20px}#itags{width:960px;height:70px;border-bottom:1px solid #e9ebea;position:relative}#itags
ul{padding-bottom:10px}#itags
li{float:left;height:25px;padding-right:20px;_width:80px;_padding-right:0px;_text-align:center}#itags li
span{color:#666;line-height:25px}#itags li
a{PADDING-RIGHT:15px;PADDING-LEFT:15px;COLOR:#333;LINE-HEIGHT:25px;HEIGHT:25px;display:block;TEXT-DECORATION:none}#itags li a:hover{COLOR:#fff;LINE-HEIGHT:25px;HEIGHT:25px;background:#f90}#itags
li.emptyTag{}#itags
li.selectTag{HEIGHT:25px}#itags li.selectTag
a{COLOR:#fff;LINE-HEIGHT:25px;HEIGHT:25px;background:#f90}#itagContent{}.itagContent{display:none;width:980px;height:auto}#itagContent
DIV.selectTag{display:block}.desleft{width:640px;float:left;height:315px;background:url(http://img3.tuniucdn.com/img/20140505/indicator/dotted.png)right repeat-y}.desright{width:325px;float:left;height:315px;padding-left:10px}.desbar{font-size:16px;font-weight:bold;color:#333;line-height:40px;font-family:'microsoft yahei';border-bottom:1px solid #e9ebea}.descon{width:640px;height:270px}.db{font-size:16px;font-weight:bold;color:#666;line-height:40px;font-family:'microsoft yahei'}.dbox{width:325px;padding-top:5px;padding-bottom:5px;border-bottom:1px dotted #e9ebea}.dbox
.left{width:35px;line-height:40px;float:left;font-size:22px;font-weight:bold}.dbox
.mid{width:195px;float:left}.dbox
.dpic{width:80px;float:left}.dbox
.dright{width:186px;float:left}.dbox
.right{width:80px;float:left}.lh12{line-height:12px}.ff{font-family:'microsoft yahei'}.cf80{color:#f80}.c999{color:#999}.ft1{font-size:14px}.ft2{font-size:12px;color:#999}.ft3{font-size:12px;color:#f80;font-weight:bold}.moregn,.morecj{display:block;position:absolute;color:#39a60a}.moregn{top:3px;right:10px}.moregn:hover{color:#f80}.morecj{top:35px;right:10px}.morecj:hover{color:#f80}.topcon,.titlebar,.thcontent{background:#F4F7F1}.thcontent{width:1000px;margin-top:0px;height:auto;padding-bottom:0px;margin-bottom:0px;overflow:hidden}.w1030{width:1030px;margin-bottom:30px;margin-top:10px;padding-bottom:10px;height:auto}.thcontent
.square{width:305px;height:240px;margin-bottom:15px;margin-right:13px;float:left;padding:10px}.themebg{background:url(http://img3.tuniucdn.com/img/20140505/indicator/themebg.png) #fff no-repeat bottom}.thcontent .square
.imgbox{display:block;width:305px;height:188px;overflow:hidden}.thcontent .square .imgbox
img{width:305px}.thcontent .square a:hover{color:#f80}.thcontent
.lvtu{width:305px;height:290px;margin-bottom:15px;margin-right:13px;float:left;padding:10px}.themebg{background:url(http://img3.tuniucdn.com/img/20140505/indicator/themebg.png) #fff no-repeat bottom}.thcontent .lvtu
.imgbox{display:block;width:305px;height:188px;overflow:hidden}.thcontent .lvtu .imgbox
img{width:305px}.lh40{display:block;line-height:20px;margin-top:10px;font-size:18px;font-family:'microsoft yahei'}.thcontent .square
p{color:#333;height:30px}.thcontent .square
.like{float:right}.thcontent .square .like
a{background-position:-101px -648px;height:20px;padding-left:25px;color:#999}.thcontent .square .like
a.liked{background-position:0 -368px;height:20px;padding-left:25px;color:#666}.thcontent .square .like
span{color:#999;padding-left:5px}.thcontent .lvtu a:hover{color:#f80}.thcontent .lvtu
p{color:#333;height:30px}.thcontent .lvtu
.like{float:right}.thcontent .lvtu .like
a{background-position:-101px -648px;height:20px;padding-left:25px;color:#999}.thcontent .lvtu .like
a.liked{background-position:0 -368px;height:20px;padding-left:25px;color:#666}.thcontent .lvtu .like
span{color:#999;padding-left:5px}.high_chart{width:600px;height:222px}.dbox a:hover{color:#f80}.high_chart
svg{overflow:visible}.high_chart .highcharts-container{overflow:visible !important}#full-screen-slider{width:100%;height:300px;position:relative;z-index:800}#slides{display:block;width:100%;height:300px;list-style:none;padding:0;margin:0;position:relative}#slides
li{display:block;width:100%;height:100%;list-style:none;padding:0;margin:0;position:absolute}#slides li
a{display:block;width:100%;height:100%;text-indent:-9999px}#pagination{display:block;list-style:none;position:absolute;left:50%;top:260px;z-index:9900;padding:5px
15px 5px 0;margin:0}#pagination
li{display:block;list-style:none;width:10px;height:10px;float:left;margin-left:15px;border-radius:5px;background:#FFF}#pagination li
a{display:block;width:100%;height:100%;padding:0;margin:0;text-indent:-9999px}#pagination
li.current{background:#0092CE}.listcon .tname .desicon,.listcon .jiaosir,.topbar,.youjicon .fdj,.youjicon .huida,.reccon .jiao,.listcon .paihang,.listcon .triangle,.listcon .triangleo,.listcon .like
a{background:url(http://img3.tuniucdn.com/img/20140505/indicator/indicons.png?v=2) no-repeat}.listtip{width:1000px;height:54px;margin-top:-20px;border-bottom:1px solid #d7d7d7;font-size:16px;color:#333;font-family:'microsoft yahei';line-height:50px}.listtip
span{font-weight:bold}.listtit{width:1000px;height:30px;font-weight:bold;color:#434343;font-size:20px;font-family:'microsoft yahei';padding-top:10px;padding-bottom:10px}.listleft{width:790px;margin-right:20px;float:left}.bgrey{border:1px
solid #dadada}.borange{border:1px
solid #ff9a03}.listcon{width:768px;padding-top:20px;border:1px
solid #dadada;margin-bottom:25px;padding-left:20px;height:auto;position:relative;background:#fff}.listcon:hover{border:1px
solid #ff9a03}.listcon
.paihang{background-position:0 -275px;display:block;width:30px;height:30px;float:right}.listcon
.triangle{width:22px;height:22px;background-position:0 -649px;position:absolute;top:-1px;right:-5px}.listcon
.triangleo{width:22px;height:22px;background-position:0 -615px;position:absolute;top:-1px;right:-5px}.listcon
.despic{width:330px;float:left;position:relative}.listcon .despic
a.ibox{width:320px;height:180px;display:block;overflow:hidden}.listcon .despic a.ibox
img{width:320px}.listcon a:hover{color:#f80}.topbar{background-position:0 -512px;font-weight:bold;width:62px;height:50px;padding-top:5px;text-align:center;position:absolute;top:-8px;left:-10px;color:#fff;font-size:16px;font-family:'microsoft yahei'}.topbar
span{font-size:20px}.listcon
.desdet{width:430px;float:left;padding-bottom:15px}.destination{width:760px}.listcon
.tname{font-family:'microsoft yahei';font-size:24px;color:#333;margin-top:-8px}.listcon .tname
.span1{font-size:20px}.listcon .tname
.span2{font-size:36px;color:#ff446c;font-weight:bold}.listcon
.jiaosir{background-position:-70px -295px;width:70px;height:22px}.listcon .desdet
p{color:#666;line-height:23px;padding-right:5px}.listcon .desdet p
em{color:#333;padding-right:5px}.listcon .desdet p
span{color:#333;font-weight:bold}.titbar{height:34px;border-bottom:1px solid #ececec;margin-bottom:8px;line-height:34px}.titbar
.name{font-size:24px;font-family:'microsoft yahei';color:#333;float:left;max-width:190px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-right:10px}.titbar
.pingjia{font-size:12px;color:#666;float:left;width:275px}.cf60{color:#f60;font-weight:bold}.pdr20{padding-right:3px}.youjicon{border-bottom:1px dotted #ececec;margin-bottom:15px}.youjicon
.tit{padding-bottom:10px;font-weight:bold;color:#333;margin-top:5px;font-size:14px}.youjicon
.cover{width:90px;height:75px;float:left}.youjicon .cover
a{display:block;width:75px;height:75px;border-radius:50%;overflow:hidden}.youjicon .cover
img{}.youjicon
.det{width:548px;height:75px;float:left}.youjicon .det
.span1{font-family:'microsoft yahei';font-size:16px;font-weight:bold;color:#333;padding-top:10px}.youjicon .det .span1:hover{color:#f80}.youjicon .det
.span2{color:#999}.youjicon .det
.span3{padding-left:80px}.youjicon
.fdj{background-position:0 -684px;width:40px;height:20px;float:left;padding-left:20px;color:#999;margin-top:5px}.youjicon
.huida{background-position:0 -710px;width:40px;height:20px;float:left;padding-left:20px;color:#999;margin-top:5px}.reccon{}.reccon
.jiao{background-position:0 -580px;width:85px;height:25px;margin-top:8px}.reccon
.square{height:60px}.reccon .square
.pic{height:55px;width:110px;float:left}.reccon .square
.det{height:55px;width:555px;float:left}.reccon .square .det
p{line-height:25px}.reccon .square
.price{width:100px;float:left;color:#f60;font-family:'microsoft yahei';font-weight:bold;font-size:16px;padding-top:10px}.reccon .square .price
.span1{font-size:14px;font-weight:normal}.reccon .square .price
.span2{font-size:14px;color:#666;font-weight:normal}.linian{padding-bottom:15px;width:745px;background:#fafbfa}.linian
span{font-weight:bold}#ltags{width:168px;height:30px;float:left;margin-left:20px;margin-top:9px;font-family:"Simsun"}#ltags
ul{padding-bottom:10px}#ltags
li{float:left;height:20px;width:50px;font-size:12px;font-weight:normal}#ltags li
a{COLOR:#333;LINE-HEIGHT:18px;text-align:center;height:18px;width:50px;display:block;TEXT-DECORATION:none}#ltags
li.selectTag{height:20px}#ltags li.selectTag
a{COLOR:#fff;background:#42b312}#ltagContent{}.ltagContent{display:none;width:768px;height:auto}#ltagContent
DIV.selectTag{display:block}.listcon
.like{float:left;margin-top:5px;padding-left:60px;text-align:left}.listcon .like
a{background-position:-101px -646px;height:20px;padding-left:25px;color:#999;cursor:pointer}.listcon .like
a.liked{background-position:0 -368px;height:20px;padding-left:25px;color:#666;cursor:default}.listcon .like
span{color:#999}.lrcon{width:188px;height:auto;float:left}.lrcon a:hover{color:#f80}.listright{width:168px;padding:10px;background:#fdfcf7;margin-bottom:15px;height:auto;border-top:3px solid #2e9900;border-left:1px solid #dadada;border-right:1px solid #dadada;border-bottom:1px solid #dadada}.listright
.tit{font-size:16px;font-weight:bold;color:#434343;font-family:'microsoft yahei';margin-bottom:5px}.listright .tit
a{float:right;color:#2e9900;font-size:12px;font-family:'Simsun';font-weight:normal;line-height:25px}.listright .tit
span{color:#f60}.lrcon
.square{height:130px}#rcon{width:168px}#rtags{width:168px;height:30px}#rtags
ul{padding-bottom:10px}#rtags
li{float:left;height:20px;width:50px}#rtags li
a{COLOR:#333;LINE-HEIGHT:20px;text-align:center;height:20px;width:50px;display:block;TEXT-DECORATION:none}#rtags
li.selectTag{height:20px}#rtags li.selectTag
a{COLOR:#fff;background:#42b312}#rtagContent{}.rtagContent{display:none;width:168px;height:auto}#rtagContent
DIV.selectTag{display:block}.rbox{width:168px;height:auto;margin-bottom:15px}.rbox
.rpic{width:80px;height:50px;float:left;position:relative}.one{width:20px;height:20px;background:#f90;color:#fff;text-align:center;line-height:20px;font-weight:bold}.two{width:18px;height:18px;background:#fff2df;border:1px
solid #f90;color:#f90;text-align:center;line-height:18px;font-weight:bold}.pabs{position:absolute;top:0px;left:0px}.mr8{margin-right:8px}.rbox
.span14{font-size:14px}.rbox
.rdeta{width:88px;height:50px;float:left}.rbox .rdeta
.span1{font-weight:bold;font-size:14px;color:#333}.rbox .rdeta
.span2{color:#666}.rpaihang{background:url(http://img3.tuniucdn.com/img/20140505/indicator/indicons.png?v=2) no-repeat;background-position:-95px -519px;display:block;margin-top:5px;width:18px;height:15px}.pop_box{position:fixed;_position:absolute;left:50%;top:50%;width:600px;height:330px;padding:35px;margin-top:-200px;margin-left:-335px;border:1px
solid #ccc;box-shadow:0 0 3px 0 #CCC;background:#fff;color:#666;font-size:14px;z-index:1001}.pop_box
.close{background:url("http://img1.tuniucdn.com/img/20140416/travels/icon_single_note_24.png") no-repeat;_background:url("http://img1.tuniucdn.com/img/20140416/travels/icon_single_note.png") no-repeat;background-position:0px 0px;display:inline-block;width:38px;height:38px;overflow:hidden;position:absolute;right:-10px;top:-10px}.pop_box
h3{font-size:16px;font-family:"Microsoft Yahei";margin-bottom:10px}.comment_box{border:1px
solid #bbb;padding:10px
15px;height:200px;overflow:hidden;margin-bottom:10px}.comment_box
p{font-size:14px}.comment_box
.w_comment{width:583px;height:179px;resuze:none;margin-top:10px;border:0
none}.pop_box
.msg{text-align:right;margin-bottom:10px}.pop_box .msg
.limitNum{font-weight:bold}.comment_btn{text-align:right}.comment_btn
input{display:inline-block;cursor:pointer;width:72px;height:27px;line-height:27px;text-align:center;border:0
none}.comment_cancle{background:#ccc;color:#000;margin-right:25px}.comment_suc{background:#f60;color:#fff}.pop_report{padding:35px
50px;width:570px}.pop_report
h3{margin-bottom:20px}.des_box{margin-bottom:20px}.des_box
label{display:block;margin-bottom:5px;font-size:14px}.des_box label
input{margin-right:5px}.pop_report
.des_comment{border:1px
solid #bbb;width:570px;height:95px;resize:none;margin:5px
0 10px}.reply_box
.w_comment{height:200px}#dialog-overlay{width:100%;height:100%;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;background:#000;position:absolute;top:0;left:0;z-index:1000;display:none}