html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}*{outline:none}body{background-color:#fff;font-size:12px;line-height:1.5;font-family:"Hiragino Sans GB",Tahoma,arial,宋体,sans-serif;color:#333;text-align:left}body{background:#f4f7f1}a{text-decoration:none}a:hover{color:#f60}.top_res{background:url("http://img.tuniucdn.com/img/201503281521/indicator/top.png") 0 0 no-repeat}.icon_top{background-position:-658px -321px;width:80px;height:30px}.icon_share_s{background-position:-120px -450px;width:14px;height:14px}.icon_arrow_up{background-position:-218px -450px;display:inline-block;width:12px;height:6px}.icon_arrow_down{background-position:-230px -450px;display:inline-block;width:12px;height:6px}.icon_niu_none{background-position:0 -320px;display:inline-block;width:110px;height:105px}.icon_num_grey{background-position:-250px -320px;width:41px;height:56px}.icon_num_yellow{background-position:-315px -320px;width:41px;height:56px}.icon_sep{background-position:-148px -450px;width:24px;height:36px}.icon_share_b{background-position:0 -450px;width:60px;height:24px}.icon_conn{background-position:-197px -450px;width:10px;height:18px}.icon_share_m{background-position:-77px -450px;width:24px;height:24px}.top_ad{}.top_ad
img{width:1000px;height:116px;display:block}.main{width:1000px;margin:0
auto;overflow:hidden}.main
.contents{width:788px;border:1px
solid #eaeaea;background:#fff;margin-bottom:10px}.custom_top
.contents{width:800px;border:none;background:none;overflow:hidden;min-height:707px}.top_detail{padding:20px}.top_header{padding:20px;height:60px;position:relative;border-bottom:1px solid #eaeaea}.top_header
.col1{float:left;margin-right:15px}.top_header .col1
img{display:block;width:90px;height:60px}.top_header
.col2{float:left}.top_header .col2
h3{font-size:20px;font-weight:bold;line-height:1;color:#434343;font-family:"microsoft yahei"}.top_header .col2
select{margin-top:10px;border:1px
solid #dcdcdc;width:100px;height:22px;line-height:22px;font-size:12px;font-family:"宋体"}.top_header
.top_right{position:absolute;top:20px;right:20px;color:#333;font-family:"microsoft yahei"}.top_header .top_right
.icon_share_m{vertical-align:middle;display:inline-block}.spot_tags{font-size:12px;height:18px;width:190px;overflow:hidden}.spot_tags
li{float:left;height:18px;line-height:18px;color:#666;padding:0
5px;cursor:pointer}.spot_tags li
a{color:#666}.spot_tags
.selected{background:#4aae00;color:#fff}.spot_tags .selected
a{color:#fff}.line_item{overflow:hidden;padding:20px
0;border-bottom:1px dashed #ddd}.line_item
.item_col1{float:left;position:relative;margin-right:7px;overflow:hidden}.line_item .item_col1
.item_num{position:absolute;top:0;left:0;font-size:14px;font-family:"microsoft yahei";width:20px;height:20px;line-height:20px;text-align:center;color:#fff}.line_item .item_col1
.bg_yello{background:#f80}.line_item .item_col1
.bg_orange{background:#ffc94f}.line_item .item_col1
img{display:block;width:160px;height:90px}.line_item
.item_col2{float:left;width:335px}.line_item .item_col2
h5{font-size:14px;height:34px;line-height:34px;font-family:"microsoft yahei";color:#333;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.line_item .item_col2 h5
a{text-decoration:none}.line_item .item_col2 h5
span{color:#999}.line_item .item_col2
p{font-family:"microsoft yahei";font-size:12px;color:#666;height:20px;line-height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.line_item .item_col2
.item_type{background:#4bb472;width:43px;height:16px;line-height:16px;color:#fff;font-size:12px;display:inline-block;text-align:center;border-radius:2px}.line_item .item_col2
.more{color:#333}.line_item .item_col2 .more:hover{color:#f60;text-decoration:underline}.line_item
.item_col3{float:right;font:normal normal 14px/90px "microsoft yahei";color:#f80;padding:0
20px}.line_item
.item_col4{float:right;width:90px;text-align:right}.line_item .item_col4
.item_price{font:normal bold 20px/1 arial;color:#f60;margin-top:20px}.line_item .item_col4 .item_price
span{font-size:14px}.line_item .item_col4
.item_satis{font:normal normal 14px/1 "microsoft yahei";color:#f80;margin-top:12px}.line_item .item_col4 .item_satis
label{color:#bbb;font-size:12px}.line_item.fold{}.line_item.fold
.item_col1{width:20px;height:20px;margin-top:15px}.line_item.fold .item_col2
h5{margin-top:8px}.line_item.fold .item_col2 h5
span{color:#333}.line_item.fold .item_col2
p{display:none}.line_item.fold
.item_col3{height:50px;line-height:50px}.line_item.fold .item_col4
.item_price{margin-top:0}.line_item.last{border-bottom:none}.top_none{font:normal normal 16px/104px "microsoft yahei";color:#333;height:104px}.top_none
.icon_niu_none{vertical-align:middle}.top_filters{position:relative;padding:12px;padding-right:11px;background:#fff;border:1px
dashed #eaeaea;z-index:2}.top_filters
.type{width:243px;overflow:hidden;float:left;margin-right:1px;padding-top:75px;background-color:#fbfbfb;position:relative}.top_filters .type
ul{overflow:hidden;padding:0
0 4px 10px;background:#fbfbfb;height:72px}.top_filters .type ul
li{float:left;width:44px;height:16px;margin:4px
0;overflow:hidden;font-size:12px;line-height:16px;color:#666;cursor:pointer}.top_filters .type ul li
a{padding:0
5px;display:inline-block}.top_filters .type ul li
.selected{background:#f80;color:#fff}.top_filters .type.location ul
li{width:58px}.top_filters .type.subject ul
li{width:58px}.top_filters .type.category ul
li{width:58px}.top_filters .type
.type_title{position:absolute;top:22px;left:95px;font:normal normal 24px/24px "microsoft yahei";color:#fff}.top_filters
.type.last{margin-right:0}.top_filters
.toggle_btn{position:absolute;bottom:-20px;background:#fff;cursor:pointer;left:50%;border:1px
solid #e8e8e8;border-top:none;width:48px;text-align:center;height:18px;line-height:18px;font-size:12px;color:#999}.top_filters
.type.season{background-position:0 -138px}.top_filters
.type.location{background-position:-250px -138px}.top_filters
.type.subject{background-position:-500px -138px}.top_filters
.type.category{background-position:-750px -138px}.top_title{position:relative;height:30px;line-height:30px;font:normal bold 20px/30px "microsoft yahei";margin-top:38px}.top_title
.icon_sep{vertical-align:middle;display:inline-block;margin:0
5px}.top_title
span{font-size:12px;color:#999;font-weight:normal;line-height:30px}.top_title
.share_btn{position:absolute;top:0;right:0;cursor:pointer}.top_title .share_btn
.icon_share_b{display:inline-block}.top_title .share_btn
.bdsharebuttonbox{display:none;position:absolute}.top_title .share_btn:hover
.bdsharebuttonbox{display:block;z-index:100;padding-left:8px;background:#fff}.top_list{margin-top:17px;overflow:hidden;*zoom:1}.top_list:after{content:".";clear:both;height:0;display:block;visibility:hidden}.top_list
.mr0{margin-right:0}.list_item{width:260px;font-family:"microsoft yahei";margin-right:9px;margin-bottom:30px;float:left}.list_item
.top{position:relative;z-index:1;font-size:12px;color:#fff;height:40px;line-height:20px;background-color:#ffa034;padding:4px
0}.list_item .top
.item_num{position:absolute;font-size:34px;line-height:48px;top:0;left:0;width:40px;height:56px;z-index:1;line-height:48px;text-align:center}.list_item .top
h5{margin-left:53px;width:170px}.list_item .top h5
a{color:#fff}.list_item .top
.item_price{position:absolute;bottom:4px;right:38px;font-weight:bold;font-size:14px}.list_item
.middle{position:relative;padding:10px;background:#fff;z-index:0}.list_item .middle
.item_depart{position:absolute;bottom:10px;right:10px;z-index:2;color:#fff;width:80px;height:21px;line-height:21px;text-align:center}.list_item .middle
.item_depart_bg{position:absolute;bottom:10px;right:10px;z-index:1;background:#000;opacity:0.7;width:80px;height:21px}.list_item .middle
img{width:240px;height:135px;display:block}.list_item .middle
.icon_conn{position:absolute;bottom:-15px}.list_item .middle
.conn1{left:8px}.list_item .middle
.conn2{right:8px}.list_item
.bottom{border:1px
solid #f1f1f1;padding:8px;line-height:20px;background:#fff;margin-top:5px;height:40px;overflow:hidden}.list_item .bottom
.item_type{background:#4bb472;width:43px;height:16px;line-height:16px;color:#fff;font-size:12px;display:inline-block;text-align:center;border-radius:2px}.list_item .bottom
a{color:#333;text-decoration:none}.list_item .bottom a
span{color:#999}.list_item.grey{}.list_item.grey
.top{background:#8aa1af}.top_pagination{overflow:hidden;float:right;height:30px}.top_pagination
.selected{background:#43b413;height:30px;line-height:30px;border:none;color:#fff}.top_pagination
li{float:left;margin-left:5px;border:1px
solid #dedede;background:#fff;height:28px;line-height:28px;font-size:12px;cursor:pointer}.top_pagination li
a{display:block;padding:0
10px}.top_pagination .selected
a{color:#fff}.top_summary{overflow:hidden;margin-bottom:20px}.top_summary
dt{position:relative;height:50px;line-height:50px;text-align:center;font:normal bold 26px/50px "microsoft yahei";color:#fff}.top_summary dt
.icon_top{display:inline-block;margin-left:10px;vertical-align:middle}.top_summary
dd{float:left;overflow:hidden;width:331px;border:1px
solid #eee;background:#fff;height:555px}.top_summary
.top_type{padding:20px;border-bottom:1px solid #eee;position:relative;*zoom:1;height:70px}.top_summary .top_type
.col1{float:left;margin-right:10px}.top_summary .top_type .col1
img{width:90px;height:60px;display:block}.top_summary .top_type
.col2{float:left}.top_summary .top_type .col2
h5{font-size:16px;line-height:1;font-family:"microsoft yahei"}.top_summary .top_type .col2
.spot_tags{margin-top:5px}.top_summary .top_type .col2
select{height:22px;line-height:22px;font-size:12px;width:100px;border:1px
solid #dcdcdc;margin-top:5px;font-family:"宋体"}.top_summary .top_type
.share{position:absolute;top:24px;right:22px;cursor:pointer}.top_summary .top_type .share
.icon_share_s{display:inline-block;vertical-align:middle}.top_summary .top_type .share
.bdsharebuttonbox{display:none;position:absolute}.top_summary .top_type .share:hover
.bdsharebuttonbox{display:block;z-index:100;padding-left:8px;background:#fff}.top_summary
.top_list2{padding:0
10px;font-family:"microsoft yahei"}.top_summary .top_list2
.list_item2{border-bottom:1px dashed #eee;padding:16px
0 13px;overflow:hidden;*margin-top:-4px}.top_summary .top_list2 .list_item2
.item_num{background:#ffe992;color:#f90;font-family:Tahoma;float:left;width:18px;text-align:center;height:50px;line-height:50px;margin-right:13px}.top_summary .top_list2 .list_item2
a{float:left;text-decoration:none;color:#333;padding:6px
0 0;line-height:18px;height:38px;overflow:hidden;width:190px}.top_summary .top_list2 .list_item2 a:hover{color:#f60}.top_summary .top_list2 .list_item2
.item_price{float:right;height:50px;line-height:50px;font-size:16px;width:76px;color:#f60}.top_summary .top_list2 .list_item2 .item_price
.sign{font-size:12px}.top_summary .top_list2 .list_item2.grey
.item_num{color:#999;background:#ececec}.top_summary
dd.second{margin:0
-1px}.top_summary
.top_more{overflow:hidden;padding:0
20px}.top_summary .top_more
a{height:46px;line-height:46px;float:right;color:#333;text-decoration:none;font-family:"microsoft yahei"}.top_summary .top_more a:hover{color:#f60}.chuchang
dt{background:#62c057}.chuchang .top_type .col2
h5{color:#f7880d}.chuchang .top_type .col2 h5
a{color:#f7880d;}.chuduan
dt{background:#527ac0}.chuduan .top_type .col2
h5{color:#527ac0}.chuduan .top_type .col2 h5
a{color:#527ac0}.guonei
dt{background:#30bdb3}.guonei .top_type .col2
h5{color:#30bdb3}.guonei .top_type .col2 h5
a{color:#30bdb3}.zhoubian
dt{background:#d74468}.zhoubian .top_type .col2
h5{color:#d74468}.zhoubian .top_type .col2 h5
a{color:#d74468}.top_tips{font-size:14px;font-family:"microsoft yahei";margin:32px
0 15px;color:#333}.top_crumbs{height:24px;overflow:hidden}.top_crumbs
li{float:left;height:24px;line-height:24px;font-size:12px;font-family:"宋体"}.top_crumbs li
a{color:#666}.top_crumbs li a:hover{color:#f60}.mt10{margin-top:10px}.main{overflow:visible}.contents{position:relative}.side_menu{position:absolute;width:121px;left:-140px;top:0}.side_menu
dl{border:1px
solid #eaede8}.side_menu
dt{height:35px;font:normal normal 14px/35px "microsoft yahei";text-align:center;color:#666;background:#fff;border-left:2px solid #fff;cursor:pointer}.side_menu
.selected{color:#fff;background:#ACACAC}.side_menu .selected
a{color:#fff}.side_menu
ul{padding:2px
0;background:#f6f7f8}.side_menu
li{height:22px;font:normal normal 12px/22px "microsoft yahei";padding-left:15px;color:#999}.side_menu li
a{color:#999}.icon_top_2{background-position:-500px -321px;width:125px;height:45px;display:inline-block}.custom_top
.side_widget{margin-top:84px}.side_widget{float:right}.block{margin-top:0px;background-color:#fff;border:1px
solid #eaeaea;padding:5px
0 0px;width:188px;margin-bottom:10px}.block
h3{padding-left:10px;color:#333;font:400 16px/30px "Microsoft YaHei";padding-top:5px;position:relative;border:0
none;overflow:hidden}.block
.c{padding:11px
9px 5px;border:0
none;overflow:hidden}.block .c
.download{margin-top:0px}.block .c .download dd .downloadbtn
i{display:inline-block;width:14px;height:14px;background:url(http://img4.tuniucdn.com/img/2015022701/tour/tour_icon.png) 0 -104px no-repeat;vertical-align:-3px;margin-right:2px}.block .c .download dt, .block .c .download
dd{display:inline;float:left}.block .c .download
dt{width:80px;padding:3px;border:1px
solid #eaeaea;box-shadow:0px 0px 5px #ccc}.block .c .download dt
img{display:block;width:80px;height:115px}.block .c .download
dd{position:relative;width:75px;height:120px;margin-left:5px}.block .c .download dd
p{color:#666}.block .c .download dd
em{display:inline-block;margin-top:10px;color:#999}.block .c .download dd
.downloadbtn{position:absolute;bottom:0;right:0;display:block}.block .c .download dd
.downloadbtn{padding-left:5px;display:inline-block;width:71px;height:20px;line-height:20px;background:#41b313;color:#fff;border-radius:1px}.block .c .download dd .downloadbtn:hover{background:#69cc3d}.block .c .download dd .downloadbtn
span{}.block .c .download dd .downloadbtn
i{display:inline-block;width:14px;height:14px;background-position:0 -104px;vertical-align:-3px;*vertical-align:-2px;margin-right:2px}.block
ul{clear:both;margin-top:20px;overflow:hidden;font:normal normal 12px/22px "Microsoft yahei";background:#f7f7f7;padding:8px
10px;color:#333}.block ul
li{float:left;width:72px;overflow:hidden;margin-right:12px}.block ul li
a{color:#333}.block ul li a:hover{color:#3bb500}#list{position:relative;display:block}#list
.dropdown_panel{position:absolute;display:none;bottom:-40px;left:-40px;width:260px;height:40px;line-height:40px;margin-right:-30px}#list .dropdown_panel
a{color:#999;margin-right:30px}#list:hover
.dropdown_panel{display:block}#list:hover .dropdown_panel
a{padding:3px
5px;border-radius:10px;font-size:14px;font-family:"microsoft yahei"}#list:hover .dropdown_panel a:hover{background:#37c249;color:#fff}