@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { 
margin:0;
padding:0;
}
a{
	text-decoration: none; color:#0084c9
}
.top1{ background-color:#f8f8f8; line-height:30px; min-width:990px}
.conter{
	width: 990px;
	margin: auto;
	color: #666666;
	font-family: "宋体";
	font-size: 12px; position:relative
}
.top1 .conter .hour{
	position: absolute;
	left: 731px;
	top: 4px;
}
.top1 .conter .iph{
	position: absolute;
	left: 793px;
	top: -2px;
	width: 197px;
}
.top1 .conter .iph strong{
	font-size: 16px;
	color: #ff4600;
}
img{ border:none}
.top2{
	background-image: url(../image/bg.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 118px; min-width:990px;
	margin-top:-10px;
}
.top2 .conter .logo{ padding:25px 0 0 0}

li{ list-style-type:none}
.select_box{
	background-image: url(../image/search.png);
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 35px;
	width: 294px;
	float: left;
	position: relative;
	color: #666666
}
 .select_box #myselect{
	/* border:none; */
	background-color: transparent;
	width: 80px;
	margin: 10px 20px 0 9px;
	color: #666666;
	cursor: pointer; font-size:14px
}
.select_box .select_ul{ position:absolute; top:33px;display:none; left:0; z-index:10000;border: 1px solid #E5E5E5; background-color:#FFF; padding:0 1px 6px 1px}
.select_box .select_ul li{width:57px; height:20px; cursor:pointer;padding:0 0 0 12px;}
.select_box .select_ul li a{ color:#666666; width:57px;line-height:20px; height:20px; text-align:left; margin-bottom:2px;}
.select_box .select_ul li a:hover{background-color:#0099ff; color:#FFF;}
.select_box .select_ul li a.curr{background-color:#0099ff; color:#FFF; }
.select_box .select_text{
	position: absolute;
	left: 77px;
	top: 9px;
}
.select_box .select_text input{
	width: 160px;
	line-height: 21px;
	font-size: 14px;
	color: #666666;  background-color:transparent/*;  border:none*/
}
.select_box .select_empty{
	display: block;
	position: absolute;
	width: 26px;
	height: 28px;
	left: 512px;
	top: 16px;
}
.select_box .select_seach{display: block;
	position: absolute;
	width: 28px;
	height: 28px;
	left: 552px;
	top: 13px;}


.select_box .select_seach{
	display: block;
	position: absolute;
	width: 38px;
	height: 22px;
	left: 251px;
	top: 7px;
	background:url(../images/se.png) no-repeat; /* border:0px;  */text-indent:-9999px;
} 
.sourchNew{
	position: absolute;
	left: 467px;
	top: 37px;
}

#full-screen-slider {
	width: 100%;
	height: 417px;
	float: left;
	position: relative;
	background-image: url(../image/xxx.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
#slides { display:block; width:100%; height:417px; list-style:none; padding:0; margin:auto; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute; }
#slides li a { display:block; width:100%; height:100%; }
#pagination { display:block; list-style:none; position:absolute; left:50%; top:340px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:20px; height:20px; float:left; margin-left:15px; border-radius:15px; background:#a8a8a8 ; text-align:center}
#pagination li a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #FFF;
	cursor: pointer;
	font-family: "微软雅黑"; font-size:14px
}
#pagination li.current { background:#ffa518; border:1px solid #FFF;}
.dh{ background-color:#178872; line-height:49px; min-width:990px}
.dh .conter .a1{
	background-image: url(../image/a1.png);
	background-repeat: no-repeat;
	background-position: center 0px; width:245px; text-align:center; margin-left:3px; float:left; position:relative
}
.dh .conter a{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #FFF;
}
.clear{ clear:both}
.dh .conter .a2{
	width: 520px;
	float: left
}
.dh .conter .a2 a{
	font-size: 15px; display:inline-block; padding:0 8px
}
.dh .conter .a2 a:hover{ background-color:#ffffff; color:#178872}
.dh .conter .a3{
	width: 200px;
	float: left; position:relative
}
.dh .conter .a3 a{font-size: 14px; display:inline-block; padding:0 8px}
.dh .conter .a3 a:hover{ background-color:#ffffff; color:#178872}
.dhnew{ width:234px; height:410px; background-color:#FFF; position:absolute; z-index:111111; left:9px; top:49px; border-top:2px solid #178872}



.dha{ padding:0px 0 10px 0px; position:relative}
.dha ul li a{
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #9b9b9b;
}
.dh .conter .dhnew .dha ul li a{color: #9b9b9b;}
.dha ul li{
	width: 234px;
	position: relative;
	height: 70px;
	background-image: url(../image/1.png);
	background-repeat: no-repeat;
	background-position: 9px center;line-height: 24px; cursor:pointer
}
.dh .conter .dhnew .dha ul li a a:hover{ color:#00C; text-decoration:none; padding:0 20px;}
.dh .conter .dhnew .dha ul .a div{ /*padding:10px 0 0 40px*/}
.dh .conter .dhnew .dha ul .a div strong{
	font-size: 16px;
	color: #65b71f;
	font-family: "微软雅黑";
}

.dh .conter .dhnew .dha ul .noe{
	line-height:20px; overflow:hidden; padding:0;
}
.dh .conter .dhnew .dha ul .noe a{ font-size:12px; font-family:"宋体"; color:#666666; font-weight:normal; line-height:20px;}
.dh .conter .dhnew .dha ul div{
	padding: 10px 0 0 40px;
	background-image: url(../image/sj.png);
	background-repeat: no-repeat;
	background-position: 210px center;
}
.dh .conter .dhnew .dha ul div strong{
	font-size: 16px;
	color: #65b71f;
	font-family: "微软雅黑";
}
.dha ul li ul{
	position: absolute;
	background-color: #c41919;
	width: 70px;
	padding: 10px 0;
	left: 38px;
	top: 40px;  z-index:1111;
}
.dha ul ul{ display:none}
.dha ul li ul li a{
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
}
.dha ul li ul li a:hover{
	color: #FFF;
	text-decoration: underline;
}
.dha ul li:hover ul{ color:#F00; display:block}
.dha ul li ul li{width:70px; border:none}
.dh .conter .dhnew .dha ul .a{ background-color:#f2f2f2}
.dh .conter .nowhover{
	position: absolute;
	width: 725px;
	height: 410px;
	background-color: #FFF;
	left: 242px;
	top: 51px; z-index:9999; overflow:hidden;
}
.dh .conter .nowhover ul{ padding:0 20px; }
.dh .conter .nowhover ul li{ font-size:12px; line-height:24px; padding:5px 0 0 20px; border-bottom:1px dashed #CCCCCC; overflow:hidden;}
.dh .conter .nowhover ul li .a{ width:50px; float:left}
.dh .conter .nowhover ul li .a a{ color:#129bf9;font-size:12px}
.dh .conter .nowhover ul li .b a{font-size:12px;color: #666666;display:inline-block; padding-right:10px}
.dh .conter .nowhover ul li .b{ width:610px; float:left;}
.dh .conter .nowhover ul li .b a:hover{ color:#ff9900; }